				<div class="row">
					<div class="col-24 col-lg-6">
						
						<div class="row align-items-md-center">
							<div class="col-24 col-sm-12 col-md-7 col-lg-24">
								
								<ul class="site-footer__social">
									<li>
										<a href="">
											<svg class="icon icon-facebook">
												<use xlink:href="../images/icons-vector.svg#facebook"></use>
											</svg>
										</a>
									</li>
									
									<li>
										<a href="">
											<svg class="icon icon-vkontakte">
												<use xlink:href="../images/icons-vector.svg#vkontakte"></use>
											</svg>
										</a>
									</li>
									
									<li>
										<a href="">
											<svg class="icon icon-instagram">
												<use xlink:href="../images/icons-vector.svg#instagram"></use>
											</svg>
										</a>
									</li>
								</ul>
								
							</div>
							<div class="col-24 col-sm-12 col-md-9 col-lg-24  mt-6 mt-sm-0 mt-lg-4">

								<div class="site-footer__phone"><a href="tel:+74959728015">+7 495 972-80-15</a></div>
								<div class="site-footer__mail"><a href="mailto:info@digi-trade.ru">info@digi-trade.ru</a></div>

							</div>
							<div class="col-24 col-sm-12 col-md-8 col-lg-24  mt-6 mt-sm-0 mt-lg-7">

								<a href="#popupRequestCall" class="button button-accent button-sm site-footer__order popup-link">Заказать звонок</a>

							</div>
						</div>

					</div>
					<div class="col-lg-18">
						
						<nav class="nav-footer">
							<div class="row">
								<div class="col-12 col-md-24 col-lg-5  mt-7 mt-lg-0">
									
									<ul class="ul-md-row">
										<li>
											<div class="h5"><a href="">ГЛАВНАЯ</a></div>
										</li>
										<li>
											<div class="h5"><a href="">Портфолио</a></div>
										</li>
										<li>
											<div class="h5"><a href="">блог</a></div>
										</li>
										<li>
											<div class="h5"><a href="">контакты</a></div>
										</li>
									</ul>
								
									<a href="" class="icon-n-text  mt-7 mt-lg-6">
										<svg class="icon icon-pdf">
											<use xlink:href="../images/icons-vector.svg#pdf"></use>
										</svg>
										<span class="text no-wrap text-bold text-upper">смотреть презентацию</span>
									</a>
								
								</div>
								<div class="col-12 col-md-7 col-lg-5  mt-7 mt-lg-0">
									
									<ul>
										<li>
											<div class="h5"><a href="">О нас</a></div>
										</li>
										<li><a href="">Наши клиенты</a></li>
										<li><a href="">Отзывы</a></li>
										<li><a href="">Вопросы и&nbsp;ответы</a></li>
									</ul>
								
								</div>
								<div class="col-md-17 col-lg-14  mt-7 mt-lg-0">
								
									<div class="h5"><a href="">Услуги и&nbsp;цены</a></div>
									
									<div class="row">
										<div class="col-24 col-sm-12">
											
											<ul>
												<li><a href="">Сайты для организаций</a></li>
												<li><a href="">Интернет-магазины и&nbsp;каталоги</a></li>
												<li><a href="">Промо-сайты и&nbsp;лендинги</a></li>
												<li><a href="">Огранизация инетрнет-бизнеса</a></li>
											</ul>
								
										</div>
										<div class="col-24 col-sm-12 mt-4 mt-sm-0">
											
											<ul>
												<li><a href="">Поддержка сайтов</a></li>
												<li><a href="">Дизайн и&nbsp;редизайн сайтов</a></li>
												<li><a href="">Проектирование сайтов</a></li>
												<li><a href="">Анализ и&nbsp;аудит сайтов</a></li>
												<li><a href="">Огранизация инетрнет-бизнеса</a></li>
											</ul>
								
										</div>
									</div>
								
								</div>
							</div>
						</nav>

					</div>
				</div>

				<div class="copyright">2010&nbsp;&mdash; 2017&nbsp;&copy; Digi-Trade: разработка корпоративных сайтов и&nbsp;интернет-магазинов&quot;</div>