{{> head}}

		<header class="site-header site-header--mainpage" role="banner">
			<canvas class="parallax-canvas"></canvas>
			<div class="container">

				
				{{> header__inner}}

				<div class="hero">
					<h1 class="site-slogan">Разбираемся в&nbsp;разработке:<br>
					<a href="" class="highlight">эффективных сайтов</a><br>
					<a href="" class="highlight">дизайне и&nbsp;редизайне сайтов</a></h1>
					
					<div class="text-center">
						<a href="#orderTheOffer" class="button button-gradient button-xl scrollto-link">Запросить коммерческое предложение</a>
					</div>
				</div>

				<div class="row  mb-3 mb-md-5 mb-lg-5">
					<div class="col-lg-12">
						
						<h5 class="heading-line colors-inverse">А&nbsp;еще мы&nbsp;умеем</h5>
						
						<ol class="list-ordered-custom">
							<li>
								<span class="term">
									<a href="" class="term__heading color-white">Промо-сайты</a>
									<div class="term__description">Даже на&nbsp;этапе первоначальной работы с&nbsp;проектом мы&nbsp;сразу делаем все основательно и&nbsp;качественно. Продумывание функционала, проектирование и&nbsp;прототипы. Но&nbsp;рутина нужная, интересная и&nbsp;очень важная.</div>
								</span>
							</li>
							<li>
								<span class="term">
									<a href="" class="term__heading color-white">Лэндинги</a>
									<div class="term__description">Даже на&nbsp;этапе первоначальной работы с&nbsp;проектом мы&nbsp;сразу делаем все основательно и&nbsp;качественно. Продумывание функционала, проектирование и&nbsp;прототипы. Но&nbsp;рутина нужная, интересная и&nbsp;очень важная.</div>
								</span>
							</li>
							<li>
								<span class="term">
									<a href="" class="term__heading color-white">Прототипы сайтов</a>
									<div class="term__description">Даже на&nbsp;этапе первоначальной работы с&nbsp;проектом мы&nbsp;сразу делаем все основательно и&nbsp;качественно. Продумывание функционала, проектирование и&nbsp;прототипы. Но&nbsp;рутина нужная, интересная и&nbsp;очень важная.</div>
								</span>
							</li>
							<li>
								<span class="term">
									<a href="" class="term__heading color-white">Анализ и&nbsp;аудит сайта</a>
									<div class="term__description">Даже на&nbsp;этапе первоначальной работы с&nbsp;проектом мы&nbsp;сразу делаем все основательно и&nbsp;качественно. Продумывание функционала, проектирование и&nbsp;прототипы. Но&nbsp;рутина нужная, интересная и&nbsp;очень важная.</div>
								</span>
							</li>
							<li>
								<span class="term">
									<a href="" class="term__heading color-white">Рекламу в&nbsp;интернете</a>
									<div class="term__description">Даже на&nbsp;этапе первоначальной работы с&nbsp;проектом мы&nbsp;сразу делаем все основательно и&nbsp;качественно. Продумывание функционала, проектирование и&nbsp;прототипы. Но&nbsp;рутина нужная, интересная и&nbsp;очень важная.</div>
								</span>
							</li>
							<li>
								<span class="term">
									<a href="" class="term__heading color-white">Оказываем поддержку сайтов</a>
									<div class="term__description">Даже на&nbsp;этапе первоначальной работы с&nbsp;проектом мы&nbsp;сразу делаем все основательно и&nbsp;качественно. Продумывание функционала, проектирование и&nbsp;прототипы. Но&nbsp;рутина нужная, интересная и&nbsp;очень важная.</div>
								</span>
							</li>
						</ol>

					</div>
				</div>

			</div>

			<nav class="nav-mobile">
				<div class="container">

					<ul>
						<li><a href="">О нас</a></li>
						<li><a href="">Услуги и цены</a></li>
						<li><a href="">Портфолио</a></li>
						<li><a href="">Блог</a></li>
						<li><a href="">Контакты</a></li>
					</ul>

				</div>
			</nav>

		</header>
