				<div class="row  justify-content-between  align-items-center">
					<div class="col-auto  mb-md-2 mb-lg-0">
						
						<a href="" class="site-logo">
							<svg class="icon icon-site-logo">
								<use xlink:href="../images/icons-vector.svg#site-logo"></use>
							</svg>
						</a>
						
					</div>
					<div class="col-auto  d-none d-lg-block">
						
						<nav class="nav-main">
							<ul>
								<li><a href="">О нас</a></li>
								<li><a href="">Услуги и цены</a></li>
								<li><a href="">Портфолио</a></li>
								<li><a href="">Блог</a></li>
								<li><a href="">Контакты</a></li>
							</ul>
						</nav>
						
					</div>
					<div class="col-auto">
						
						<div class="site-header__contacts  row align-items-center">
							<div class="col-auto col-lg-24 col-xl-auto">
								
								<div class="site-header__phone"><a href="tel:+74993941696">8 499 394-16-96</a></div>
								
							</div>
							<div class="col-auto col-lg-24 col-xl-auto  d-none d-md-block">
								
								<a href="#popupRequestCall" class="button button-accent button-sm popup-link">Заказать звонок</a>

								<!-- #popupRequestCall -->
								<div class="popup popup--s zoom-anim-dialog mfp-hide gradient-3" id="popupRequestCall">

									<h3 class="color-inverse">Хочу, чтобы вы&nbsp;мне перезвонили</h3>
									
									<form action="">
										<div class="grid">
											<div class="row gutter-lg">
												<div class="col-md-24">
								
													<div class="form-field">
														<label for="" class="form-label">Телефон</label>
								
														<div class="form-input-wrap">
								
															<input type="text" 
																class="form-input form-input--validation" 
																name="" 
																id="" 
																value="" 
																data-validation="letternumeric length"
																data-validation-allowing="-_ " 
																data-validation-length="min7">
								
															<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
								
														</div>
													</div>
								
												</div>
												<div class="col-md-24">
													
													<button class="button button-lg button-inverse button-block">Позвоните мне</button>
													
												</div>
											</div>
										</div>
									</form>
									
								</div><!-- #popupRequestCall -->
								
							</div>
						</div>

					</div>
					<div class="col-auto  d-block d-lg-none">
						
						<a href="" class="nav-mobile-opener">
							<svg class="icon icon-menu">
								<use xlink:href="../images/icons-vector.svg#menu"></use>
							</svg>
						</a>

					</div>
				</div>