			<nav class="nav-mobile">
				<div class="container">

					<ul>
						<li><a href="">О нас</a></li>
						<li><a href="">Услуги и цены</a></li>
						<li><a href="">Портфолио</a></li>
						<li><a href="">Блог</a></li>
						<li><a href="">Контакты</a></li>
					</ul>

					<div class="nav-mobile__phone text-xl"><a href="tel:+74993941696" class="color-white">8 499 394-16-96</a></div>

					<a href="" class="button button-lg button-accent button-block">ЗАКАЗАТЬ ЗВОНОК</a>

					<a href="" class="button button-lg button-gradient button-block">ОСТАВИТЬ ЗАЯВКУ НА РАЗРАБОТКУ</a>

				</div>
			</nav>
