	<script src="../lib/jquery/dist/jquery.min.js"></script>
	<script src="//yastatic.net/share2/share.js"></script>
	<script src="../lib/swiper/dist/js/swiper.min.js"></script>
	<script src="../lib/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
	<script src="../lib/textarea-autosize/dist/jquery.textarea_autosize.min.js"></script>
	<script src="../lib/jquery-form-validator/form-validator/jquery.form-validator.min.js"></script>
	<!-- <script src="../scripts/parallax-effect.js"></script> -->
	<script src="../scripts/main.js"></script>