.badge {
	border-radius: 30px;
	padding: 6px 22px;
	display: inline-block;
	background-color: $black;
	color: $white;
	cursor: default;
	font-size: 12px;
	line-height: 18px;
	vertical-align: middle;
}