.icon {
	display: inline-block;
	vertical-align: middle;
	transition: fill .2s ease, stroke .2s ease;
}

.icon-steps-arrow {
	width: 11px;
	height: 10px;
}

.icon-arrow {
	width: 23px;
	height: 20px;
}

.icon-times {
	width: 39px;
	height: 39px;
	font-size: 48px;
	line-height: 39px;
	color: $blue;
	font-weight: 300;

	span {
		font-size: 39px;
		margin-right: 5px;
	}

	&.color-inverse {
		color: $white;
	}
}

.icon-phone {
	width: 39px;
	height: 39px;
	fill: $blue;
}

.icon-palm {
	width: 43px;
	height: 39px;
	fill: $blue;
}

.icon-facebook {
	width: 13px;
	height: 25px;
}

.icon-vkontakte {
	width: 32px;
	height: 18px;
}

.icon-instagram {
	width: 25px;
	height: 25px;
}

.icon-pdf {
	width: 22px;
	height: 22px;
}

.icon-pin {
	width: 20px;
	height: 26px;
}

.icon-phone-2 {
	width: 21px;
	height: 21px;
}

.icon-mail {
	width: 26px;
	height: 20px;
}

.icon-doc {
	width: 56px;
	height: 72px;
}

.icon-number {
	color: $major;
	font-size: 48px;
	line-height: 38px;
}

.icon-devices {
	width: 69px;
	height: 58px;
}

.icon-hands {
	width: 83px;
	height: 64px;
}

.icon-promotion {
	width: 57px;
	height: 57px;
}

.icon-hearts {
	width: 70px;
	height: 59px;
}

.icon-calendar {
	width: 59px;
	height: 59px;
}

.icon-adaptive-phone {
	width: 60px;
	height: 60px;
}
.icon-adaptive-desktop {
	width: 64px;
	height: 60px;
}
.icon-adaptive-tablet {
	width: 50px;
	height: 60px;
}

.icon-close {
	width: 22px;
	height: 22px;
}


// fill colors
.icon {
	&.color-major {
		fill: $major;
	}

	&.color-minor {
		fill: $minor;
	}

	&.color-muted {
		fill: $muted;
	}

	&.color-brand {
		fill: $brand;
	}

	&.color-accent {
		fill: $accent;
	}

	&.color-intense {
		fill: $intense;
	}

	&.color-inverse {
		fill: $white;
	}
}
