.stripe {
	@include distancing(30px);
	@include distancing(0, both, '.stripe');
	position: relative;
	padding-top: 25px;
	padding-bottom: 25px;

	&:before {
		@include pseudo-block;
		position: absolute;
		top: 0;
		left: -100%;
		right: -100%;
		bottom: 0;
		background-color: $bg;
		z-index: -1;
	}

	@include media-breakpoint-up(md) {

		@include distancing(50px);
		padding-top: 40px;
		padding-bottom: 40px;

	}
}

.stripe--no-bg {
	@include distancing(10px);

	&:before {
		display: none;
	}
}