body {
	color: $major;
	font-family: $font-main;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: $base-font-weight;
}

.wrap {
	overflow: hidden;
}

.container {
	position: relative;
}

.site-header {
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
	background-size: cover;
	background-color: $white;
	color: $intense;

	// screen md up
	@include media-breakpoint-up(md) {
		padding-top: 24px;
		padding-bottom: 18px;
	}

	// screen lg up
	@include media-breakpoint-up(lg) {
		padding-top: 38px;
		padding-bottom: 38px;
	}
}

.site-header--mainpage {
	background: url(../images/header-bg.jpg) 50% no-repeat;
	color: $white;

	.site-logo {
		@include link-reset;
		fill: $white;
	}

	h1,
	.nav-main a,
	.site-header__phone a {
		color: $white;
	}

	.nav-mobile-opener {
		fill: $white;
	}

}

.site-logo {
	@include link-reset;
	fill: $intense;
	display: block;

	svg {
		width: 76px;
		height: 38px;

		// screen md up
		@include media-breakpoint-up(md) {
			width: 142px;
			height: 70px;
		}
	}

	&:hover .icon {
		fill: $yellow;
	}

}

.nav-main {
	font-weight: 700;
	font-size: 14px;
	line-height: 22px;
	text-transform: uppercase;

	ul {
		@include list-reset(true);
		display: flex;
	}

	li + li {
		margin-left: 3px;
	}

	a {
		@include link-reset;
		display: block;
		padding: 8px 10px;
		color: $black;

		&:hover {
			background-color: $yellow;
			color: $black;
		}
	}

}

.site-header__contacts {

	// screen lg only
	@include media-breakpoint-only(lg) {
		flex-direction: column;

		[class^=col] + [class^=col] {
			margin-top: 18px;
			text-align: center;
		}
	}

}

.site-header__phone {
	font-size: 15px;
	line-height: 18px;
	font-weight: 700;

	a {
		color: $black;
	}

	// screen md up
	@include media-breakpoint-up(md) {
		font-size: 24px;
		line-height: 24px;
	}
}

.nav-mobile-opener {
	@include link-reset;
	width: 32px;
	height: 32px;
	display: block;
	fill: $black;
	text-align: center;
	cursor: pointer;
	position: relative;
	z-index: 100;
	transition: transform .4s ease;

	.icon-menu,
	.icon-menu-close {
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: visibility 0s ease .1s;
	}

	.icon-menu-close {
		visibility: hidden;
	}

	&.is-open {
		transform: rotateY(180deg);

		.icon-menu {
			transition: visibility 0s ease .1s;
			visibility: hidden;
		}

		.icon-menu-close {
			transition: visibility 0s ease .1s;
			visibility: visible;
		}
	}

	// screen md up
	@include media-breakpoint-up(md) {
		width: 45px;
		height: 45px;
	}

}

.nav-mobile {
	padding-top: 24px;
	padding-bottom: $grid-gutter-width / 2;
	color: $white;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $black;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	transform: translate(0%, -100%);
	transition: transform .3s ease, opacity .3s ease;
	
	ul {
		@include list-reset(true);

		li + li {
			margin-top: 20px;
		}

		a {
			color: $white;
			@include link-reset;
		}
	}

	.nav-mobile__phone {
		margin-top: 28px;
	}

	.button {
		margin-top: 22px;

		+ .button {
			margin-top: 10px;
		}
	}

	&.is-open {
		transform: translate(0, 0);
		opacity: 1;
	}

	// screen lg up
	@include media-breakpoint-up(lg) {	
		display: none;
	}

}

.site-footer {
	position: relative;
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: $bg-2;
	color: $white;

	a:not(.button) {
		color: $white;
	}

	.copyright {
		margin-top: 50px;
		font-size: 14px;
		line-height: 20px;
	}
}

.site-footer__social {
	@include list-reset(true);
	@include distancing-ready;
	@include distancing(27px);
	display: flex;
	align-items: top;

	a {
		@include link-reset;
		display: block;

		&:hover .icon {
			fill: $yellow;
		}
	}

	.icon {
		fill: $white;
	}

	li + li {
		margin-left: 36px;
	}
}

.site-footer__phone {
	font-size: 19px;
	line-height: 24px;
}

.site-footer__mail {
	margin-top: 11px;
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 2px;
}

.site-footer__order {
	// margin-top: 48px;
}

.nav-footer {
	font-size: 14px;
	line-height: 18px;

	.h5 {
		font-size: 15px;
		line-height: 18px;
		text-transform: uppercase;

		a:not(.button) {
			color: $white;
		}
	}
	
	a:not(.button) {
		color: rgba($white, .5);
		border-bottom-color: transparent;

		&:hover {
			color: $yellow;
		}
	}

	ul {
		@include list-reset(true);

		li + li {
			margin-top: 22px;
		}
	}

	a.icon-n-text {
		color: $white;
		fill: $white;

		&:hover {
			color: $yellow;
		
			svg.icon {
				fill: $yellow;
			}
		}
	}

	// screen md only
	@include media-breakpoint-only(md) {
		
		.ul-md-row {
			display: flex;

			li + li {
				margin-top: 0px;
				margin-left: 34px;
			}
		}

	}
}

.site-footer--blue {
	background-color: #290c5b;
}

.site-footer--gray {
	background-color: #2a292c;
}

.section {
	position: relative;
	padding-top: 45px;
	padding-bottom: 45px;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;

	> .container {
		position: relative;
		z-index: 1;
	}

	// screen md up
	@include media-breakpoint-up(md) {
		padding-top: 65px;
		padding-bottom: 65px;
	}

	// screen lg up
	@include media-breakpoint-up(lg) {
		padding-top: 90px;
		padding-bottom: 90px;
	}
}

.section--xs {
	padding-top: 25px;
	padding-bottom: 25px;

	// screen md up
	@include media-breakpoint-up(md) {
		padding-top: 35px;
		padding-bottom: 35px;
	}

	// screen lg up
	@include media-breakpoint-up(lg) {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	&:last-child {
		padding-bottom: 40px;

		// screen md up
		@include media-breakpoint-up(md) {
			padding-bottom: 50px;
		}

		// screen lg up
		@include media-breakpoint-up(lg) {
			padding-bottom: 60px;
		}
	}

}

.section--sm {
	padding-top: 35px;
	padding-bottom: 35px;

	// screen md up
	@include media-breakpoint-up(md) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	// screen lg up
	@include media-breakpoint-up(lg) {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	&:last-child {
		padding-bottom: 40px;

		// screen md up
		@include media-breakpoint-up(md) {
			padding-bottom: 50px;
		}

		// screen lg up
		@include media-breakpoint-up(lg) {
			padding-bottom: 60px;
		}
	}

}

.section--dark {
	background-color: $bg-2;
	color: $white;
}

.section--gradient,
.gradient-1 {
	background: $gradient;
}

.gradient-2 {
	background: $gradient-2;
}

.gradient-3 {
	background: $gradient-3;
}

.gradient-4 {
	background: $gradient-4;
}

.gradient-5 {
	background: $gradient-5;
}

.gradient-6 {
	background: $gradient-6;
}

.section--gradient-image {
	&:after {
		@include pseudo-block(100%);
		top: 0;
		right: 0;
		background: $gradient;
		opacity: .95;
	}
}

.section--no-paddings {
	padding-top: 0;
	padding-bottom: 0;
}

.section--bgs {
	position: relative;
}

.section__bgs {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;

	.row {
		height: 100%;
	}

	[class^=col] {
		background-position: 50%;
		background-size: cover;
		background-repeat: no-repeat;
	}
}

.section__quote {
	& + * {
		margin-top: 0 !important;
	}

	width: 200px;
	height: 158px;
	position: absolute;
	left: -70px;
	top: 60px;
	fill: rgba($white, .1);
	transform: rotateY(180deg);

	// screen md up
	@include media-breakpoint-up(md) {
		width: 400px;
		height: 387px;
		left: auto;
		right: -100px;
		top: 20%;
	}

	// screen lg up
	@include media-breakpoint-up(lg) {
		width: 400px;
		height: 387px;
		right: auto;
		left: -100px;
		top: 20%;
	}

}

.bg-1 {
	background: $bg;
}

.bg-2 {
	background: $bg-2;
}

.bg-3 {
	background: $bg-3;
}

.bg-4 {
	background: $bg-4;
}

.bg-intense {
	background: $intense
}
