{{> partials/header}}

		<main class="main" role="main">

			<div class="section section--xs gradient-1">
				<div class="container">

					<nav class="breadcrumbs">
						<ul>
							<li><a href="">Главная</a></li>
							<li>Блог</li>
						</ul>
					</nav>

					<h1>Полезная информация</h1>

				</div>
			</div>

			<section class="section section--sm bg-4">
				<div class="container">
					
					<div class="row gutter-xs justify-content-between distance-lg">
						<div class="col-12 col-md-17">
							
							<div class="row gutter-xs  d-none d-md-flex">
								<div class="col-auto">

									<a href="" class="button button-tag button-xs is-selected">Все</a>
									
								</div>
								<div class="col-auto">

									<a href="" class="button button-tag button-xs">События</a>
									
								</div>
								<div class="col-auto">

									<a href="" class="button button-tag button-xs">Новости компании</a>
									
								</div>
								<div class="col-auto">

									<a href="" class="button button-tag button-xs">Акции и спецпредложения</a>
									
								</div>
							</div>

							<div class="dropdown dropdown-accent dropdown-xs  d-md-none">
								<div class="dropdown-trigger">Все категории</div>
								<ul class="dropdown-list">
									<li>Все категории</li>
									<li>События</li>
									<li>Новости компании</li>
									<li>Акции и спецпредложения</li>
								</ul>
							</div>

						</div>
						<div class="col-12 col-md-7 col-lg-6 col-xl-5">
							
							<div class="dropdown dropdown-inverse dropdown-xs">
								<div class="dropdown-trigger">Сортировать по дате</div>
								<ul class="dropdown-list">
									<li>Сортировать по дате</li>
									<li>Сортировать по названию</li>
									<li>Сортировать по автору</li>
								</ul>
							</div>

						</div>
					</div>
					
					<div class="grid">
						<div class="row">
							<div class="col-md-8 col-lg-6">
								
								<article class="article-brief">
									<a href="" class="article-brief__link">
										<div class="article-brief__figure">
											<div class="article-brief__image" style="background-image: url(../media/article-brief-1.jpg);"></div>
											<span class="badge">События</span>			
										</div>
										<div class="article-brief__body text-center">
								
											<h4>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</h4>
											<div class="article-brief__date">11 Апрель 2017</div>
											<p>Неприкаянный ирландец в&nbsp;ожидании Судного дня был</p>
											
										</div>
									</a>
								</article>
								
								<article class="article-brief article-brief--video">
									<a href="" class="article-brief__link">
										<div class="article-brief__figure">
											<div class="article-brief__image" style="background-image: url(../media/article-brief-2.jpg);"></div>

											<div class="play-2">
												<svg class="icon icon-play-2">
													<use xlink:href="../images/icons-vector.svg#play-2"></use>
												</svg>
											</div>

										</div>
									</a>
								</article>

							</div>
							<div class="col-md-16 col-lg-12">

								<article class="article-brief article-brief--lg">
									<a href="" class="article-brief__link">
										<div class="article-brief__figure">
											<div class="article-brief__image" style="background-image: url(../media/article-brief-3.jpg);"></div>
											<span class="badge badge--right">Акции</span>	
										</div>
										<div class="article-brief__body">
								
											<div class="row">
												<div class="col-lg-18">
													
													<h4>На&nbsp;днях прогремел самый загадочный и&nbsp;злобный праздник&nbsp;&mdash; Хэллоуин</h4>

												</div>
												<div class="col-lg-6">

													<div class="article-brief__date">11 Апрель 2017</div>
													
												</div>
											</div>
											
											<p>Неприкаянный ирландец в ожидании Судного дня был вынужден бродить по земле, освещая себе путь кусочком угля</p>
											
										</div>
									</a>
								</article>
								
							</div>
							<div class="col-lg-6  d-none d-lg-block">

								<ul class="articles-list">
									<li class="articles-list-item">

										<a href="">
											<img src="../media/article-list-item-1.jpg" alt="">
											<div class="articles-list-item__text">
											
												<h4><span>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</span></h4>
												<div class="articles-list-item__date">11 Апрель 2017</div>
											
											</div>
										</a>
										
									</li>
									<li class="articles-list-item">

										<a href="">
											<img src="../media/article-list-item-1.jpg" alt="">
											<div class="articles-list-item__text">
											
												<h4><span>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</span></h4>
												<div class="articles-list-item__date">11 Апрель 2017</div>
											
											</div>
										</a>
										
									</li>
									<li class="articles-list-item">

										<a href="">
											<img src="../media/article-list-item-1.jpg" alt="">
											<div class="articles-list-item__text">
											
												<h4><span>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</span></h4>
												<div class="articles-list-item__date">11 Апрель 2017</div>
											
											</div>
										</a>
										
									</li>
									<li class="articles-list-item">

										<a href="">
											<img src="../media/article-list-item-1.jpg" alt="">
											<div class="articles-list-item__text">
											
												<h4><span>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</span></h4>
												<div class="articles-list-item__date">11 Апрель 2017</div>
											
											</div>
										</a>
										
									</li>
									<li class="articles-list-item">

										<a href="">
											<img src="../media/article-list-item-1.jpg" alt="">
											<div class="articles-list-item__text">
											
												<h4><span>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</span></h4>
												<div class="articles-list-item__date">11 Апрель 2017</div>
											
											</div>
										</a>
										
									</li>
									<li class="articles-list-item">

										<a href="">
											<img src="../media/article-list-item-1.jpg" alt="">
											<div class="articles-list-item__text">
											
												<h4><span>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</span></h4>
												<div class="articles-list-item__date">11 Апрель 2017</div>
											
											</div>
										</a>

									</li>
								</ul>
								
							</div>
						</div>
					</div>

				</div>
			</section>

			<section class="section section--no-paddings">
				
				<div class="slider slider--wide">
					<div class="swiper-container">
						<div class="swiper-wrapper">

							<div class="swiper-slide" style="background-image: url(../media/slide-bg-1.jpg);">
								<div class="container">
									
									<article class="article-brief-slide colors-inverse">
										<h1>Как адаптивный дизайн влияет на&nbsp;конверсию</h1>
										<p>После этого мы&nbsp;обучаем представителя заказчика работе с&nbsp;сайтом (при личной</p>
																		
										<a href="" class="icon-n-text">
											<span class="text letter-spacing-1 text-upper text-bold color-inverse">ЧИТАТЬ СТАТЬЮ</span>
											<span class="icon icon-arrow-white"></span>
										</a>
									</article>
								
								</div>
							</div>

							<div class="swiper-slide" style="background-image: url(../media/slide-bg-1.jpg);">
								<div class="container">
									
									<article class="article-brief-slide colors-inverse">
										<h1>Как адаптивный дизайн влияет на&nbsp;конверсию</h1>
										<p>После этого мы&nbsp;обучаем представителя заказчика работе с&nbsp;сайтом (при личной</p>
																		
										<a href="" class="icon-n-text">
											<span class="text letter-spacing-1 text-upper text-bold color-inverse">ЧИТАТЬ СТАТЬЮ</span>
											<span class="icon icon-arrow-white"></span>
										</a>
									</article>
								
								</div>
							</div>

							<div class="swiper-slide" style="background-image: url(../media/slide-bg-1.jpg);">
								<div class="container">
									
									<article class="article-brief-slide colors-inverse">
										<h1>Как адаптивный дизайн влияет на&nbsp;конверсию</h1>
										<p>После этого мы&nbsp;обучаем представителя заказчика работе с&nbsp;сайтом (при личной</p>
																		
										<a href="" class="icon-n-text">
											<span class="text letter-spacing-1 text-upper text-bold color-inverse">ЧИТАТЬ СТАТЬЮ</span>
											<span class="icon icon-arrow-white"></span>
										</a>
									</article>
								
								</div>
							</div>

						</div>
					</div>

					<div class="swiper-pagination"></div>
				</div>

			</section>

			<section class="section section--sm bg-4">
				<div class="container">
					
					<div class="grid">
						<div class="row">
							<div class="col-md-12 col-lg-8 col-xl-6">
								
								<article class="article-brief">
									<a href="" class="article-brief__link">
										<div class="article-brief__figure">
											<div class="article-brief__image" style="background-image: url(../media/article-brief-1.jpg);"></div>
											<span class="badge">События</span>			
										</div>
										<div class="article-brief__body text-center">
								
											<h4>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</h4>
											<div class="article-brief__date">11 Апрель 2017</div>
											<p>Неприкаянный ирландец в&nbsp;ожидании Судного дня был</p>
											
										</div>
									</a>
								</article>

							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">
								
								<article class="article-brief">
									<a href="" class="article-brief__link">
										<div class="article-brief__figure">
											<div class="article-brief__image" style="background-image: url(../media/article-brief-1.jpg);"></div>
											
											<div class="play-2">
												<svg class="icon icon-play-2">
													<use xlink:href="../images/icons-vector.svg#play-2"></use>
												</svg>
											</div>

										</div>
										<div class="article-brief__body text-center">
								
											<h4>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</h4>
											<div class="article-brief__date">11 Апрель 2017</div>
											<p>Неприкаянный ирландец в&nbsp;ожидании Судного дня был</p>
											
										</div>
									</a>
								</article>

							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">
								
								<article class="article-brief">
									<a href="" class="article-brief__link">
										<div class="article-brief__figure">
											<div class="article-brief__image" style="background-image: url(../media/article-brief-1.jpg);"></div>
											<span class="badge">События</span>			
										</div>
										<div class="article-brief__body text-center">
								
											<h4>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</h4>
											<div class="article-brief__date">11 Апрель 2017</div>
											<p>Неприкаянный ирландец в&nbsp;ожидании Судного дня был</p>
											
										</div>
									</a>
								</article>

							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">
								
								<article class="article-brief article-brief--cite">
									<a href="" class="article-brief__link">
										
										<span class="article-brief__text">
											<svg class="icon icon-quote">
												<use xlink:href="../images/icons-vector.svg#quote"></use>
											</svg>
											Понедельник достиг своего зенита — а, значит, самое время отвлечься на минутку, чтобы
											<svg class="icon icon-quote">
												<use xlink:href="../images/icons-vector.svg#quote"></use>
											</svg>
										</span>
										
										<span class="text-xs color-major">ЦИТАТЫ</span>

									</a>
								</article>

							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">
								
								<article class="article-brief">
									<a href="" class="article-brief__link">
										<div class="article-brief__figure">
											<div class="article-brief__image" style="background-image: url(../media/article-brief-1.jpg);"></div>
											<span class="badge">События</span>			
										</div>
										<div class="article-brief__body text-center">
								
											<h4>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</h4>
											<div class="article-brief__date">11 Апрель 2017</div>
											<p>Неприкаянный ирландец в&nbsp;ожидании Судного дня был</p>
											
										</div>
									</a>
								</article>

							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">
								
								<article class="article-brief article-brief--cite article-brief--inverse">
									<a href="" class="article-brief__link" style="background-image: url(../media/article-brief-5.jpg);">
										
										<span class="article-brief__text">
											<svg class="icon icon-quote">
												<use xlink:href="../images/icons-vector.svg#quote"></use>
											</svg>
											12 инструментов современного бизнеса»
											<svg class="icon icon-quote">
												<use xlink:href="../images/icons-vector.svg#quote"></use>
											</svg>
										</span>
										
										<span class="text-xs color-major">ПОЛЕЗНЫЕ СТАТЬИ</span>

									</a>
								</article>

							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">
								
								<article class="article-brief">
									<a href="" class="article-brief__link">
										<div class="article-brief__figure">
											<div class="article-brief__image" style="background-image: url(../media/article-brief-1.jpg);"></div>
											<span class="badge">События</span>			
										</div>
										<div class="article-brief__body text-center">
								
											<h4>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</h4>
											<div class="article-brief__date">11 Апрель 2017</div>
											<p>Неприкаянный ирландец в&nbsp;ожидании Судного дня был</p>
											
										</div>
									</a>
								</article>

							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">
								
								<article class="article-brief">
									<a href="" class="article-brief__link">
										<div class="article-brief__figure">
											<div class="article-brief__image" style="background-image: url(../media/article-brief-1.jpg);"></div>
											<span class="badge">События</span>			
										</div>
										<div class="article-brief__body text-center">
								
											<h4>Одно из&nbsp;основных &laquo;звеньев&raquo; студийной цепи</h4>
											<div class="article-brief__date">11 Апрель 2017</div>
											<p>Неприкаянный ирландец в&nbsp;ожидании Судного дня был</p>
											
										</div>
									</a>
								</article>

							</div>
						</div>
					</div>

				</div>
			</section>

			<section class="section section--bgs">
				<div class="section__bgs" style="background-image: url(../media/bg-1.jpg);"></div>
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-24 col-lg-18 col-xl-12">
					
							<h2 class="color-inverse text-center">Хотите стать нашим
							клиентом?</h2>
								
							<form action="" class="color-inverse">
					
								<div class="grid">
									<div class="row gutter-lg">
										<div class="col-md-12">
						
											<div class="form-field">
												<label for="" class="form-label">Имя *</label>
						
												<div class="form-input-wrap">
						
													<input type="text" 
														class="form-input form-input--validation" 
														name="" 
														id="" 
														value="" 
														data-validation="letternumeric length"
														data-validation-allowing="-_ " 
														data-validation-length="min2">
													
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-12">
						
											<div class="form-field">
												<label for="" class="form-label">Контакт для связи *</label>
						
												<div class="form-input-wrap">
						
													<input type="text" 
														class="form-input form-input--validation" 
														name="" 
														id="" 
														value="" 
														data-validation="letternumeric length"
														data-validation-allowing="-_ " 
														data-validation-length="min2">
						
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-24">
						
											<div class="form-field">
												<label for="" class="form-label">Комментарии *</label>
						
												<div class="form-input-wrap">
						
													<textarea 
														class="form-input form-input--validation textarea-autosize" 
														name="" 
														id="" 
														value=""
														rows="1"
														data-validation="length" 
														data-validation-length="min4"></textarea>
						
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-24">
						
											<div class="form-field">
						
												<label class="input-file">
													<input type="file" name="" id="">
													<span class="icon icon-clip"></span>
													<div class="input-file__title">Прикрепить файл</div>
												</label>
						
											</div>
						
										</div>
										<div class="col-md-24">
											
											<button class="button button-block button-xl button-inverse">ОТПРАВИТЬ ЗАПРОС НА УВЕЛИЧЕНИЕ ПРИБЫЛИ</button>
											
										</div>
									</div>
									
								</div>

							</form>
							
						</div>
					</div>

				</div>
			</section>

		</main>

{{> partials/footer-gray}}