{{> partials/header}}

		<main class="main" role="main">

			<div class="section section--xs gradient-1">
				<div class="container">

					<div class="article-meta  d-none d-md-block">
						<div class="article-date mr-2">05 апреля 2017</div>
						<span class="badge">Маркетинг</span>
					</div>

					<nav class="breadcrumbs">
						<ul>
							<li><a href="">Главная</a></li>
							<li><a href="">БЛОГ</a></li>
							<li>Digitrade спонсор соревнований</li>
						</ul>
					</nav>

					<h1>Digi-Trade&nbsp;&mdash; спонсор соревнований</h1>

				</div>
			</div>

			<div class="section section--sm">
				<div class="container">
					
					<div class="row gutter-sm  distance-md">
						<div class="col-auto">
							
							<div class="letter mt-1">D</div>

						</div>
						<div class="col col-xl-14">
							
							<p class="text-lg color-intense">Рабочая неделя в&nbsp;самом разгаре, а&nbsp;мы&nbsp;продолжаем рассказывать о&nbsp;супергероях Магвая: представляем вам нашу СуперМашу, нашего</p>

						</div>
					</div>

					<div class="row gutter-xl distance-md">
						<div class="col-lg-11">
							
							<p>В&nbsp;конце 2014 года мы&nbsp;приступили к&nbsp;поисковому продвижению сайта и&nbsp;ведению контекстных рекламных кампаний для компании Photohigh. Уже в&nbsp;первом квартале 2015 года мы&nbsp;достигли впечатляющих результатов. Сотрудничество успешно продолжается и&nbsp;по&nbsp;сей день.</p>

						</div>
						<div class="col-lg-11 mt-4 mt-lg-0">
							
							<p>В&nbsp;конце 2014 года мы&nbsp;приступили к&nbsp;поисковому продвижению сайта и&nbsp;ведению контекстных рекламных кампаний для компании Photohigh. Уже в&nbsp;первом квартале 2015 года мы&nbsp;достигли впечатляющих результатов. Сотрудничество успешно продолжается и&nbsp;по&nbsp;сей день.</p>

						</div>
					</div>

					<div class="video">
						<div class="video__play">
							<span class="icon icon-play"></span>
						</div>
						<img src="../media/article-video-1.jpg" alt="" class="video__preview">
					</div>

					<div class="row">
						<div class="col-lg-1 d-none d-lg-block"></div>
						<div class="col-lg-17">
							
							<h3>Совершать как можно меньше плохих поступков и&nbsp;как можно больше&nbsp;&mdash; хороших!</h3>
							
							<p>В&nbsp;конце 2014 года мы&nbsp;приступили к&nbsp;поисковому продвижению сайта и&nbsp;ведению контекстных рекламных кампаний для компании Photohigh. Уже в&nbsp;первом квартале 2015 года мы&nbsp;достигли впечатляющих результатов. Сотрудничество успешно продолжается и&nbsp;по&nbsp;сей день.</p>

						</div>
					</div>

					<div class="row distance-md">
						<div class="col-lg-1 d-none d-lg-block">&nbsp;</div>
						<div class="col-md-12 col-lg-12 col-xl-14">
							
							<p>В&nbsp;конце 2014 года мы&nbsp;приступили к&nbsp;поисковому продвижению сайта и&nbsp;ведению контекстных рекламных кампаний для компании Photohigh. Уже в&nbsp;первом квартале 2015 года мы&nbsp;достигли впечатляющих результатов. Сотрудничество успешно продолжается и&nbsp;по&nbsp;сей день.</p>

						</div>
						<div class="col-md-12 col-lg-11 col-xl-8  mt-4 mt-md-0">
							
							<blockquote class="cite cite__right">
								<div class="cite__body">

									<div class="cite__text text-xl color-intense">
										<svg class="icon icon-quote">
											<use xlink:href="../images/icons-vector.svg#quote"></use>
										</svg>
										Каникулы в&nbsp;Провансе<br> Розлина Боша<br> романы Набокова
										<svg class="icon icon-quote">
											<use xlink:href="../images/icons-vector.svg#quote"></use>
										</svg>
									</div>

									<footer class="cite__footer"><span class="text-xs">КНИГИ</span></footer>

								</div>
							</blockquote>

						</div>
					</div>

					<img src="../media/article-image-1.jpg" alt="" class="article-image">

					<div class="row">
						<div class="col-lg-1"></div>
						<div class="col-lg-17">
							
							<h3>Benefit MIEquity Partners Builds Commercial</h3>
							
							<p>В&nbsp;конце 2014 года мы&nbsp;приступили к&nbsp;поисковому продвижению сайта и&nbsp;ведению контекстных рекламных кампаний для компании Photohigh. Уже в&nbsp;первом квартале 2015 года мы&nbsp;достигли впечатляющих результатов. Сотрудничество успешно продолжается и&nbsp;по&nbsp;сей день.</p>

							<p>В&nbsp;конце 2014 года мы&nbsp;приступили к&nbsp;поисковому продвижению сайта и&nbsp;ведению контекстных рекламных кампаний для компании Photohigh. Уже в&nbsp;первом квартале 2015 года мы&nbsp;достигли впечатляющих результатов. Сотрудничество успешно продолжается и&nbsp;по&nbsp;сей день.</p>

						</div>
					</div>

				</div>
			</div>

			<div class="section section--xs bg-4  distance-b-lg">
				<div class="container">
					
					<div class="row justify-content-between align-items-center">
						<div class="col col-md-8 col-lg-7  d-none d-md-block">

							<a href="" class="page-link page-link--prev">
								<span class="page-link__title"><span>Digi-Trade&nbsp;&mdash; спонсор соревнований</span></span>
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
							</a>

						</div>
						<div class="col-24 col-md-7 col-lg-6 col-xl-5">
							
							<div class="sharing">
								<div class="sharing__title">ПОДЕЛИТЬСЯ СТАТЬЕЙ</div>

								<div class="ya-share2" data-services="vkontakte,facebook,gplus,whatsapp" data-bar></div>
							</div>

						</div>
						<div class="col-24 col-md-8 col-lg-7  mt-5 mt-md-0">

							<a href="" class="page-link page-link--next">
								<span class="page-link__title"><span>Новая эра&nbsp;&mdash; в&nbsp;эпоху веб технологий</span></span>
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
							</a>

						</div>
					</div>

				</div>
			</div>

			<div class="slider slider--wide slider--wide-presentation">
				<div class="swiper-container">
					<div class="swiper-wrapper">

						<div class="swiper-slide" style="background-image: url(../media/slide-bg-1.jpg);">
							<div class="container">
								
								<article class="article-brief-slide colors-inverse">
									<h1>Как адаптивный дизайн влияет на&nbsp;конверсию</h1>
									<p>После этого мы&nbsp;обучаем представителя заказчика работе с&nbsp;сайтом (при личной</p>
																	
									<a href="" class="icon-n-text">
										<span class="text letter-spacing-1 text-upper text-bold color-inverse">ЧИТАТЬ СТАТЬЮ</span>
										<span class="icon icon-arrow-white"></span>
									</a>
								</article>
							
							</div>
						</div>

						<div class="swiper-slide" style="background-image: url(../media/slide-bg-1.jpg);">
							<div class="container">
								
								<article class="article-brief-slide colors-inverse">
									<h1>Как адаптивный дизайн влияет на&nbsp;конверсию</h1>
									<p>После этого мы&nbsp;обучаем представителя заказчика работе с&nbsp;сайтом (при личной</p>
																	
									<a href="" class="icon-n-text">
										<span class="text letter-spacing-1 text-upper text-bold color-inverse">ЧИТАТЬ СТАТЬЮ</span>
										<span class="icon icon-arrow-white"></span>
									</a>
								</article>
							
							</div>
						</div>

						<div class="swiper-slide" style="background-image: url(../media/slide-bg-1.jpg);">
							<div class="container">
								
								<article class="article-brief-slide colors-inverse">
									<h1>Как адаптивный дизайн влияет на&nbsp;конверсию</h1>
									<p>После этого мы&nbsp;обучаем представителя заказчика работе с&nbsp;сайтом (при личной</p>
																	
									<a href="" class="icon-n-text">
										<span class="text letter-spacing-1 text-upper text-bold color-inverse">ЧИТАТЬ СТАТЬЮ</span>
										<span class="icon icon-arrow-white"></span>
									</a>
								</article>
							
							</div>
						</div>

					</div>
				</div>

				<div class="swiper-pagination"></div>
			</div>

		</main>

{{> partials/footer}}
