{{> partials/header}}

		<main class="main" role="main">

			<div class="section section--xs section--gradient-image" style="background-image: url(../media/section-bg-1.jpg);">
				<div class="container">

					<nav class="breadcrumbs">
						<ul>
							<li><a href="">Главная</a></li>
							<li>Контакты</li>
						</ul>
					</nav>
					
					<h1>Контакты</h1>

					<div class="row align-items-xl-center">
						<div class="col-lg-12">

							<div class="row gutter-sm align-items-md-center">
								<div class="col-auto">

									<img src="../media/contacts-page-photo.png" alt="" class="avatar">

								</div>
								<div class="col">

									<p class="text-bold text-lg color-inverse">Будем рады, ответить на&nbsp;ваши вопросы и&nbsp;подсказать решения по&nbsp;вашему проекту</p>
									<p class="color-inverse mt-3">Алена Фионова, управляющий директор</p>

								</div>
							</div>

						</div>
						<div class="col-lg-12  mt-6 mt-lg-0">

							<div class="grid">
								<div class="row">
									<div class="col-24">
										
										<div class="icon-n-text icon-n-text--lg colors-inverse">
											<svg class="icon icon-pin">
												<use xlink:href="../images/icons-vector.svg#pin"></use>
											</svg>
											<div class="text text-bold text-xl">Шараповский пр-д, 2, Мытищи</div>
										</div>
										
									</div>
									<div class="col-md-12 col-lg-24 col-xl-12">
										
										<div class="icon-n-text icon-n-text--lg">
											<svg class="icon icon-phone-2 color-inverse">
												<use xlink:href="../images/icons-vector.svg#phone-2"></use>
											</svg>
											<div class="text text-bold text-xl color-inverse"><a href="tel:+74993941696">8 (499) 394-16-96</a></div>
										</div>
										
									</div>
									<div class="col-md-12 col-lg-24 col-xl-12">
										
										<div class="icon-n-text icon-n-text--lg">
											<svg class="icon icon-mail color-inverse">
												<use xlink:href="../images/icons-vector.svg#mail"></use>
											</svg>
											<div class="text text-bold text-xl color-inverse"><a href="mailto:info@digi-trade.ru">info@digi-trade.ru</a></div>
										</div>
										
									</div>
								</div>
							</div>

						</div>
					</div>
					
					<div class="box box--lg box--dark">
						
						<form action="" class="color-inverse">

							<div class="row">
								<div class="col-lg-18 col-xl-14">
									
									<div class="grid">
										<div class="row gutter-lg">
											<div class="col-md-12">
							
												<div class="form-field">
													<label for="" class="form-label">Имя *</label>
							
													<div class="form-input-wrap">
							
														<input type="text" 
															class="form-input form-input--validation" 
															name="" 
															id="" 
															value="" 
															data-validation="letternumeric length"
															data-validation-allowing="-_ " 
															data-validation-length="min2">
														
														<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
							
													</div>
												</div>
							
											</div>
											<div class="col-md-12">
							
												<div class="form-field">
													<label for="" class="form-label">Контакт для связи *</label>
							
													<div class="form-input-wrap">
							
														<input type="text" 
															class="form-input form-input--validation" 
															name="" 
															id="" 
															value="" 
															data-validation="letternumeric length"
															data-validation-allowing="-_ " 
															data-validation-length="min2">
							
														<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
							
													</div>
												</div>
							
											</div>
											<div class="col-md-24">
							
												<div class="form-field">
													<label for="" class="form-label">Комментарии *</label>
							
													<div class="form-input-wrap">
							
														<textarea 
															class="form-input form-input--validation textarea-autosize" 
															name="" 
															id="" 
															value=""
															rows="1"
															data-validation="length" 
															data-validation-length="min4"></textarea>
							
														<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
							
													</div>
												</div>
							
											</div>
											<div class="col-md-24">
							
												<div class="form-field">
							
													<label class="input-file">
														<input type="file" name="" id="">
														<span class="icon icon-clip"></span>
														<div class="input-file__title">Прикрепить файл</div>
													</label>
							
												</div>
							
											</div>
											<div class="col-md-24">
												
												<button class="button button-block button-xl button-gradient">ОТПРАВИТЬ ЗАПРОС НА УВЕЛИЧЕНИЕ ПРИБЫЛИ</button>
												
											</div>
										</div>
										
									</div>
									
								</div>
							</div>

						</form>

					</div>	

					<div class="grid">
						<div class="row gutter-lg justify-content-center justify-content-md-between">
							<div class="col-auto col-lg-9">
								
								<a href="" class="icon-n-text vertical colors-inverse align-items-center align-items-md-start">
									<svg class="icon icon-doc">
										<use xlink:href="../images/icons-vector.svg#doc"></use>
									</svg>
									<div class="text text-lg text-bold text-upper">Скачать реквизиты</div>
								</a>
						
							</div>
							<div class="col-auto col-lg-9">
								
								<a href="" class="icon-n-text vertical colors-inverse align-items-center align-items-md-start">
									<svg class="icon icon-doc">
										<use xlink:href="../images/icons-vector.svg#doc"></use>
									</svg>
									<div class="text text-lg text-bold text-upper">Скачать договор</div>
								</a>
						
							</div>
							<div class="col-auto col-lg-6">
								
								<a href="" class="icon-n-text vertical colors-inverse align-items-center align-items-md-start">
									<svg class="icon icon-doc">
										<use xlink:href="../images/icons-vector.svg#doc"></use>
									</svg>
									<div class="text text-lg text-bold text-upper">Скачать бриф</div>
								</a>
						
							</div>
						</div>
					</div>

				</div>
			</div>

		</main>

{{> partials/footer}}
