{{> partials/header}}

		<main class="main" role="main">

			<div class="section section--xs gradient-1">
				<div class="container">

					<nav class="breadcrumbs">
						<ul>
							<li><a href="">Главная</a></li>
							<li>Наши клиенты</li>
						</ul>
					</nav>

					<h1>Наши клиенты</h1>

				</div>
			</div>

			<div class="section section--sm bg-2">
				<div class="container">
					
					<h2 class="color-inverse">Для кого мы делаем сайты</h2>

					<div class="grid">
						<div class="row">
							<div class="col-md-12 col-lg-8 col-xl-6">

								<article class="typical-solution" style="background-image: url(../media/typical-item-8.jpg);">
									<a href="" class="typical-solution__link">
										<h4 class="colors-inverse">Организациям</h4>
										<p class="colors-inverse">
											<span class="text-sm">от</span>
											<span class="text-xl text-bold letter-spacing-1">120 000</span>
											<span class="text-sm">руб.</span>
										</p>
									</a>
								</article>
								
							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">

								<article class="typical-solution" style="background-image: url(../media/typical-item-1.jpg);">
									<a href="" class="typical-solution__link">
										<h4 class="colors-inverse">Исследование</h4>
										<p class="colors-inverse">
											<span class="text-sm">от</span>
											<span class="text-xl text-bold letter-spacing-1">110 000</span>
											<span class="text-sm">руб.</span>
										</p>
									</a>
								</article>
								
							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">

								<article class="typical-solution" style="background-image: url(../media/typical-item-2.jpg);">
									<a href="" class="typical-solution__link">
										<h4>Салонам красоты</h4>
										<p>
											<span class="text-sm">от</span>
											<span class="text-xl text-bold letter-spacing-1">140 000</span>
											<span class="text-sm">руб.</span>
										</p>
									</a>
								</article>
								
							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">

								<article class="typical-solution" style="background-image: url(../media/typical-item-3.png);">
									<a href="" class="typical-solution__link">
										<h4>Сайт для туризма</h4>
										<p>
											<span class="text-sm">от</span>
											<span class="text-xl text-bold letter-spacing-1">60 000</span>
											<span class="text-sm">руб.</span>
										</p>
									</a>
								</article>
								
							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">

								<article class="typical-solution" style="background-image: url(../media/typical-item-4.png);">
									<a href="" class="typical-solution__link">
										<h4 class="colors-inverse">Юристам</h4>
										<p class="colors-inverse">
											<span class="text-sm">от</span>
											<span class="text-xl text-bold letter-spacing-1">590 000</span>
											<span class="text-sm">руб.</span>
										</p>
									</a>
								</article>
								
							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">

								<article class="typical-solution" style="background-image: url(../media/typical-item-5.png);">
									<a href="" class="typical-solution__link">
										<h4 class="colors-inverse">Мероприятиям</h4>
										<p class="colors-inverse">
											<span class="text-sm">от</span>
											<span class="text-xl text-bold letter-spacing-1">50 000</span>
											<span class="text-sm">руб.</span>
										</p>
									</a>
								</article>
								
							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">

								<article class="typical-solution" style="background-image: url(../media/typical-item-6.png);">
									<a href="" class="typical-solution__link">
										<h4>Ресторанам, кафе</h4>
										<p>
											<span class="text-sm">от</span>
											<span class="text-xl text-bold letter-spacing-1">20 000</span>
											<span class="text-sm">руб.</span>
										</p>
									</a>
								</article>
								
							</div>
							<div class="col-md-12 col-lg-8 col-xl-6">

								<article class="typical-solution" style="background-image: url(../media/typical-item-7.jpg);">
									<a href="" class="typical-solution__link">
										<h4>Государственные</h4>
										<p>
											<span class="text-sm">от</span>
											<span class="text-xl text-bold letter-spacing-1">120 000</span>
											<span class="text-sm">руб.</span>
										</p>
									</a>
								</article>
								
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="tabs">

				<div class="section bg-4 py-0">
					<div class="container">

						<div class="tabs__nav-scroll">
							<ul class="tabs__nav">
								<li class="is-current">2010</li>
								<li>2011</li>
								<li>2012</li>
								<li>2013</li>
								<li>2014</li>
								<li>2015</li>
								<li>2016</li>
								<li>2017</li>
							</ul>
						</div>

					</div>
				</div>

				<div class="section section--sm">
					<div class="container">

						<div class="tabs__item is-current">
									
							<div class="grid">
								<div class="row gutter-xl">
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">ProfArea<br>
												Гианик Сайт</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Monster Site<br>
												2-15</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Cafe Pro<br>
												2014</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн
												</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Nonome<br>
												WebSite</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Behance.net/<br>
												Portfolio</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Dribbble Pro<br>
												ForReal</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>

						<div class="tabs__item is-current">
									
							<div class="grid">
								<div class="row gutter-xl">
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">ProfArea<br>
												Гианик Сайт</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Monster Site<br>
												2-15</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Cafe Pro<br>
												2014</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн
												</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Nonome<br>
												WebSite</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Behance.net/<br>
												Portfolio</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Dribbble Pro<br>
												ForReal</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>

						<div class="tabs__item is-current">
									
							<div class="grid">
								<div class="row gutter-xl">
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">ProfArea<br>
												Гианик Сайт</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Monster Site<br>
												2-15</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Cafe Pro<br>
												2014</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн
												</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Nonome<br>
												WebSite</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Behance.net/<br>
												Portfolio</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Dribbble Pro<br>
												ForReal</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>

						<div class="tabs__item is-current">
									
							<div class="grid">
								<div class="row gutter-xl">
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">ProfArea<br>
												Гианик Сайт</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Monster Site<br>
												2-15</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Cafe Pro<br>
												2014</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн
												</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Nonome<br>
												WebSite</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Behance.net/<br>
												Portfolio</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Dribbble Pro<br>
												ForReal</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>

						<div class="tabs__item is-current">
									
							<div class="grid">
								<div class="row gutter-xl">
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">ProfArea<br>
												Гианик Сайт</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Monster Site<br>
												2-15</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Cafe Pro<br>
												2014</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн
												</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Nonome<br>
												WebSite</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Behance.net/<br>
												Portfolio</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Dribbble Pro<br>
												ForReal</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>

						<div class="tabs__item is-current">
									
							<div class="grid">
								<div class="row gutter-xl">
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">ProfArea<br>
												Гианик Сайт</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Monster Site<br>
												2-15</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Cafe Pro<br>
												2014</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн
												</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Nonome<br>
												WebSite</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Behance.net/<br>
												Portfolio</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Dribbble Pro<br>
												ForReal</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>

						<div class="tabs__item is-current">
									
							<div class="grid">
								<div class="row gutter-xl">
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">ProfArea<br>
												Гианик Сайт</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Monster Site<br>
												2-15</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Cafe Pro<br>
												2014</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн
												</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Nonome<br>
												WebSite</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Behance.net/<br>
												Portfolio</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Dribbble Pro<br>
												ForReal</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>

						<div class="tabs__item is-current">
									
							<div class="grid">
								<div class="row gutter-xl">
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">ProfArea<br>
												Гианик Сайт</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Monster Site<br>
												2-15</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Cafe Pro<br>
												2014</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Digi Trade<br>
												Полный редизайн
												</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Nonome<br>
												WebSite</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Behance.net/<br>
												Portfolio</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
									<div class="col-md-12">
										
										<a href="" class="page-link">
											<div class="page-link__title">Dribbble Pro<br>
												ForReal</div>
											<svg class="icon icon-arrow-2">
												<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
											</svg>
										</a>
										
									</div>
								</div>
							</div>
							
						</div>

					</div>
				</div>

			</div>

			<section class="section section--bgs">
				<div class="section__bgs" style="background-image: url(../media/bg-1.jpg);"></div>
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-24 col-lg-18 col-xl-12">
					
							<h2 class="color-inverse text-center">Хотите стать нашим
							клиентом?</h2>
								
							<form action="" class="color-inverse">
					
								<div class="grid">
									<div class="row gutter-lg">
										<div class="col-md-12">
						
											<div class="form-field">
												<label for="" class="form-label">Имя *</label>
						
												<div class="form-input-wrap">
						
													<input type="text" 
														class="form-input form-input--validation" 
														name="" 
														id="" 
														value="" 
														data-validation="letternumeric length"
														data-validation-allowing="-_ " 
														data-validation-length="min2">
													
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-12">
						
											<div class="form-field">
												<label for="" class="form-label">Контакт для связи *</label>
						
												<div class="form-input-wrap">
						
													<input type="text" 
														class="form-input form-input--validation" 
														name="" 
														id="" 
														value="" 
														data-validation="letternumeric length"
														data-validation-allowing="-_ " 
														data-validation-length="min2">
						
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-24">
						
											<div class="form-field">
												<label for="" class="form-label">Комментарии *</label>
						
												<div class="form-input-wrap">
						
													<textarea 
														class="form-input form-input--validation textarea-autosize" 
														name="" 
														id="" 
														value=""
														rows="1"
														data-validation="length" 
														data-validation-length="min4"></textarea>
						
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-24">
						
											<div class="form-field">
						
												<label class="input-file">
													<input type="file" name="" id="">
													<span class="icon icon-clip"></span>
													<div class="input-file__title">Прикрепить файл</div>
												</label>
						
											</div>
						
										</div>
										<div class="col-md-24">
											
											<button class="button button-block button-xl button-inverse">ОТПРАВИТЬ ЗАПРОС НА УВЕЛИЧЕНИЕ ПРИБЫЛИ</button>
											
										</div>
									</div>
									
								</div>

							</form>
							
						</div>
					</div>

				</div>
			</section>

		</main>

{{> partials/footer-gray}}