{{> partials/header}}

		<main class="main" role="main">

			<div class="section section--xs gradient-1">
				<div class="container">

					<nav class="breadcrumbs">
						<ul>
							<li><a href="">Главная</a></li>
							<li>О нас</li>
						</ul>
					</nav>

					<div class="row">
						<div class="col-lg-20 col-xl-16">

							<h1>Немного о&nbsp;нашей компании <span class="no-wrap">Digi-Trade</span></h1>
					
							<div class="grid">
								<div class="row align-items-end">
									<div class="col-24 col-md-8">
										
										<div class="icon icon-number color-inverse">12</div>
										<p class="color-inverse"><span class="text-bold">12 специалистов</span><br>
											работают удаленно</p>
								
									</div>
									<div class="col-24 col-md-8">
										
										<div class="icon icon-shuttle"></div>
										<p class="color-inverse"><span class="text-bold">5 летний опыт</span><br>
											высококласнная команда</p>
								
									</div>
									<div class="col-24 col-md-8">
										
										<div class="icon icon-thinking"></div>
										<p class="color-inverse"><span class="text-bold">Гениальный подход</span><br>
											Качество превыше всего</p>
								
									</div>
								</div>
							</div>

						</div>
					</div>

				</div>
			</div>

			<div class="section section--sm">
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-xl-14">
							
							<h5 class="text-normal">Если кратко, то&nbsp;мы&nbsp;просто знаем свое дело</h5>
							<hr class="line line-bold  distance-t-xxs distance-b-md">
							<p>Команде Digi-trade можно доверить дизайн, проектирование и&nbsp;разработку и&nbsp;техническую поддержку сайта, который станет мощным инструментом для развития бизнеса. Мы&nbsp;внимательны к&nbsp;мелочам, приветливы и&nbsp;всегда помогаем клиенту разобраться в&nbsp;тонкостях продаж в&nbsp;интернете.</p>

						</div>
					</div>

				</div>
			</div>

			<div class="wide-image" style="background-image: url(../media/o-nas-1.jpg);"></div>

			<section class="section">
				<div class="container">
					
					<div class="grid">
						<div class="row">
							<div class="col-md-12 col-lg-8 col-xl-8">
								
								<h5 class="text-normal">Мы&nbsp;&mdash; то, что надо</h5>
								<hr class="line line-bold  distance-t-xxs distance-b-md">
								<p class="d-none d-md-block">А&nbsp;главное&nbsp;&mdash; разработанные нами сайты быстрее других попадают в&nbsp;топ! Нет смысла создавать сайт без учёта требований СЕО, ведь всё равно только что созданный новый сvайт будет нуждаться в&nbsp;оптимизации и&nbsp;продвижении. Мы&nbsp;учитываем требования СЕО уже на&nbsp;этапе разработки. Это значит, что сайт будет готов продвижению сразу после создания.</p>
						
							</div>
							<div class="col-md-12 col-lg-8 col-xl-8">
								
								<article class="advantage" style="background-image: url(../media/advantage-1.jpg);">
									<svg class="icon icon-devices">
										<use xlink:href="../images/icons-vector.svg#devices"></use>
									</svg>
									<h3>Адаптивная вёрстка</h3>
									<div class="advantage__details">
										<p>cайта поможет снизить процент отказов и&nbsp;оттока мобильных пользователей за&nbsp;счёт удобного отображения сайта на&nbsp;всех устройствах.</p>
									</div>
								</article>
						
							</div>
							<div class="col-md-12 col-lg-8 col-xl-8">
								
								<article class="advantage" style="background-image: url(../media/advantage-2.jpg);">
									<svg class="icon icon-hands">
										<use xlink:href="../images/icons-vector.svg#hands"></use>
									</svg>
									<h3>Качественный клиентский сервис</h3>
									<div class="advantage__details">
										<p>и&nbsp;налаженные бизнес-процессы в&nbsp;агентстве&nbsp;&mdash; это отсутствие рисков для клиента. Мы&nbsp;организуем всю работу агентства так, что клиент знает о&nbsp;каждом нашем шаге и&nbsp;ведёт удалённую работу совместно с&nbsp;нами.</p>
									</div>
								</article>
						
							</div>
							<div class="col-md-12 col-lg-8 col-xl-8">
								
								<article class="advantage" style="background-image: url(../media/advantage-3.jpg);">
									<svg class="icon icon-promotion">
										<use xlink:href="../images/icons-vector.svg#promotion"></use>
									</svg>
									<h3>Уже оптимизированный сайт</h3>
									<div class="advantage__details">
										<p>(за&nbsp;счет применения нашей CMS)<br> даст результат быстрее и&nbsp;в&nbsp;максимально короткие сроки обеспечит вас заказами.</p>
									</div>
								</article>
						
							</div>
							<div class="col-md-12 col-lg-8 col-xl-8">
								
								<article class="advantage" style="background-image: url(../media/advantage-2.jpg);">
									<svg class="icon icon-hearts">
										<use xlink:href="../images/icons-vector.svg#hearts"></use>
									</svg>
									<h3>Мы&nbsp;всегда на&nbsp;стороне клиента</h3>
									<div class="advantage__details">
										<p>Нам важен ваш результат, именно поэтому мы&nbsp;не&nbsp;создаём шаблонных сайтов, а&nbsp;в&nbsp;первую очередь выясняем цели и&nbsp;задачи клиента.</p>
									</div>
								</article>
						
							</div>
							<div class="col-md-12 col-lg-8 col-xl-8">
								
								<article class="advantage" style="background-image: url(../media/advantage-5.jpg);">
									<svg class="icon icon-calendar">
										<use xlink:href="../images/icons-vector.svg#calendar"></use>
									</svg>
									<h3>Готовность работы с&nbsp;клиентом в&nbsp;рассрочку</h3>
									<div class="advantage__details">
										<p>&mdash;&nbsp;по&nbsp;поэтапной системе взаиморасчетов. Иногда создать качественный сайт требуется срочно, а&nbsp;финансирование запаздывает. Мы&nbsp;готовы пойти вам на&nbsp;встречу и&nbsp;разбить стоимость разработки на&nbsp;несколько месяцев, для более комфортной оплаты.</p>
									</div>
								</article>
						
							</div>
						</div>
					</div>

				</div>
			</section>

			<section class="section section--sm bg-4">
				<div class="container">

					<h2>Кто же делает, чудо проекты?</h2>
					
					<div class="distance-md">
						
						<div class="grid  d-none d-md-block">
							<div class="row">
								<div class="col-md-12 col-lg-8 col-xl-6">
									
									<div class="staff">
										<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
										<div class="staff__text">
											<div class="text-md">Алена Фионова</div>
											<div class="text-sm">Генеральный директор</div>
										</div>
									</div>

								</div>
								<div class="col-md-12 col-lg-8 col-xl-6">
									
									<div class="staff">
										<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
										<div class="staff__text">
											<div class="text-md">Алена Фионова</div>
											<div class="text-sm">Генеральный директор</div>
										</div>
									</div>

								</div>
								<div class="col-md-12 col-lg-8 col-xl-6">
									
									<div class="staff">
										<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
										<div class="staff__text">
											<div class="text-md">Алена Фионова</div>
											<div class="text-sm">Генеральный директор</div>
										</div>
									</div>

								</div>
								<div class="col-md-12 col-lg-8 col-xl-6">
									
									<div class="staff">
										<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
										<div class="staff__text">
											<div class="text-md">Алена Фионова</div>
											<div class="text-sm">Генеральный директор</div>
										</div>
									</div>

								</div>
								<div class="col-md-12 col-lg-8 col-xl-6">
									
									<div class="staff">
										<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
										<div class="staff__text">
											<div class="text-md">Алена Фионова</div>
											<div class="text-sm">Генеральный директор</div>
										</div>
									</div>

								</div>
								<div class="col-md-12 col-lg-8 col-xl-6">
									
									<div class="staff">
										<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
										<div class="staff__text">
											<div class="text-md">Алена Фионова</div>
											<div class="text-sm">Генеральный директор</div>
										</div>
									</div>

								</div>
								<div class="col-md-12 col-lg-8 col-xl-6">
									
									<div class="staff">
										<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
										<div class="staff__text">
											<div class="text-md">Алена Фионова</div>
											<div class="text-sm">Генеральный директор</div>
										</div>
									</div>

								</div>
								<div class="col-md-12 col-lg-8 col-xl-6">
									
									<div class="staff">
										<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
										<div class="staff__text">
											<div class="text-md">Алена Фионова</div>
											<div class="text-sm">Генеральный директор</div>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="slider slider--simple  d-block d-md-none">
							<div class="swiper-container">
								<div class="swiper-wrapper">

									<div class="swiper-slide">

										<div class="staff">
											<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
											<div class="staff__text">
												<div class="text-md">Алена Фионова</div>
												<div class="text-sm">Генеральный директор</div>
											</div>
										</div>
										
									</div>
									<div class="swiper-slide">

										<div class="staff">
											<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
											<div class="staff__text">
												<div class="text-md">Алена Фионова</div>
												<div class="text-sm">Генеральный директор</div>
											</div>
										</div>
										
									</div>
									<div class="swiper-slide">

										<div class="staff">
											<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
											<div class="staff__text">
												<div class="text-md">Алена Фионова</div>
												<div class="text-sm">Генеральный директор</div>
											</div>
										</div>
										
									</div>
									<div class="swiper-slide">

										<div class="staff">
											<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
											<div class="staff__text">
												<div class="text-md">Алена Фионова</div>
												<div class="text-sm">Генеральный директор</div>
											</div>
										</div>
										
									</div>
									<div class="swiper-slide">

										<div class="staff">
											<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
											<div class="staff__text">
												<div class="text-md">Алена Фионова</div>
												<div class="text-sm">Генеральный директор</div>
											</div>
										</div>
										
									</div>
									<div class="swiper-slide">

										<div class="staff">
											<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
											<div class="staff__text">
												<div class="text-md">Алена Фионова</div>
												<div class="text-sm">Генеральный директор</div>
											</div>
										</div>
										
									</div>
									<div class="swiper-slide">

										<div class="staff">
											<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
											<div class="staff__text">
												<div class="text-md">Алена Фионова</div>
												<div class="text-sm">Генеральный директор</div>
											</div>
										</div>
										
									</div>
									<div class="swiper-slide">

										<div class="staff">
											<div class="staff__photo" style="background-image: url(../media/staff-1.jpg);"></div>
											<div class="staff__text">
												<div class="text-md">Алена Фионова</div>
												<div class="text-sm">Генеральный директор</div>
											</div>
										</div>
										
									</div>

								</div>
							</div>

							<div class="swiper-pagination"></div>
						</div>

					</div>
					
				</div>
			</section>

			<section class="section section--sm gradient-1">
				<div class="container">

					<h2 class="color-inverse">И&nbsp;вот результаты работы, немного наград</h2>
					
					<div class="distance-md">

						<div class="slider slider--scroll lightbox-gallery">
							<div class="swiper-container">
								<div class="swiper-wrapper">

									<div class="swiper-slide">

										<a href="../media/nagrada-1.jpg" class="lightbox-link">
											<img src="../media/nagrada-1.jpg" alt="">
										</a>
										
									</div>

									<div class="swiper-slide">

										<a href="../media/nagrada-2.jpg" class="lightbox-link">
											<img src="../media/nagrada-2.jpg" alt="">
										</a>
										
									</div>

									<div class="swiper-slide">

										<a href="../media/nagrada-3.jpg" class="lightbox-link">
											<img src="../media/nagrada-3.jpg" alt="">
										</a>
										
									</div>

									<div class="swiper-slide">

										<a href="../media/nagrada-4.jpg" class="lightbox-link">
											<img src="../media/nagrada-4.jpg" alt="">
										</a>
										
									</div>

									<div class="swiper-slide">

										<a href="../media/nagrada-5.jpg" class="lightbox-link">
											<img src="../media/nagrada-5.jpg" alt="">
										</a>
										
									</div>

								</div>
							</div>

							<div class="swiper-scrollbar color-inverse"></div>
						</div>

					</div>
					
				</div>
			</section>

			<section class="section">

				<div class="content-tree">
					<div class="content-tree__header">
						<div class="inner">
							
							<h2>Чем мы&nbsp;отличаемся, от&nbsp;большинства агенств</h2>

						</div>
					</div>
					<div class="content-tree__section" style="background-image: url(../media/feature-1.jpg);">
						<div class="inner">
							
							<h3 class="font-light color-inverse">С&nbsp;нами удобно работать, мы создаём максимальный комфорт для каждого клиента.</h3>
							<hr class="line line-sm line-bolder color-inverse distance-sm	">
							<p class="color-inverse">У&nbsp;нас нет длинной цепочки менеджеров и&nbsp;арт-директоров, поэтому с&nbsp;нами удобно работать. Индивидуально подходим к&nbsp;каждому клиенту и&nbsp;проекту, делая сайты &laquo;заточенные&raquo; под каждого индивидуально.</p>
							<p class="color-inverse">Для этого мы&nbsp;разработали собственную систему управления сайтами (CMS), которая протестирована на&nbsp;всех наших клиентах и&nbsp;продолжает совершенствоваться. Это как костюм сшитый по&nbsp;вашим меркам&nbsp;&mdash; удобно, эффективно и&nbsp;ничего лишнего.</p>

						</div>
					</div>
					<div class="content-tree__section" style="background-image: url(../media/feature-2.jpg);">
						<div class="inner">
							
							<h3 class="font-light color-inverse">Разработанные нами сайты быстрее других попадают в&nbsp;ТОП.</h3>
							<hr class="line line-sm line-bolder color-inverse distance-sm	">
							<p class="color-inverse">Многие компании не&nbsp;занимаются продвижением своего сайта, считая, что для успешного бизнеса в&nbsp;интернете достаточно создать сайт с&nbsp;оригинальным дизайном и&nbsp;наполнить его текстами. Но, чтобы попасть в&nbsp;поисковую выдачу Google или Яндекса, сайт должен подходить под определенные требования.</p>
							<p class="color-inverse">Мы&nbsp;занимаемся грамотной SEO-оптимизацией сайтов уже на&nbsp;этапе их&nbsp;создания, чтобы в&nbsp;дальнейшем избежать сложностей с&nbsp;продвижением ресурса. Для этого в&nbsp;процессе создания сайтов используются рекомендации профессионалов в&nbsp;области SEO и&nbsp;устраняются все типовые ошибки, препятствующие успешному продвижению.</p>

						</div>
					</div>
					<div class="content-tree__section" style="background-image: url(../media/feature-3.jpg);">
						<div class="inner">
							
							<h3 class="font-light color-inverse">Мы&nbsp;научим вас действительно продавать товары и&nbsp;услуги в&nbsp;интернете.</h3>
							<hr class="line line-sm line-bolder color-inverse distance-sm	">
							<p class="color-inverse">Наши сайты помогают нашим клиентам успешно продавать товары и услуги, увеличивать количество звонков и заявок. Убедитесь в этом сами прочитав отзывы наших клиентов.</p>
							<p class="color-inverse">Мы поможем вам создать сайт с отличным дизайном, разобраться в тонкостях работы с ним, наполнить его качественным контентом и создать рекламную компанию в Яндекс Директе для быстрого прироста клиентов на ваш сайт.</p>

						</div>
					</div>
					<div class="content-tree__section" style="background-image: url(../media/feature-4.jpg);">
						<div class="inner">
							
							<h3 class="font-light color-inverse">Хороший дизайн сайта расположит к&nbsp;себе ваших клиентов.</h3>
							<hr class="line line-sm line-bolder color-inverse distance-sm	">
							<p class="color-inverse">Мы создаем яркие и удобные сайты, которые понравятся вам и обязательно запомнятся посетителям. Примеры таких работы вы можете посмотреть в нашем портфолио.</p>

						</div>
					</div>
					<div class="content-tree__section" style="background-image: url(../media/feature-5.jpg);">
						<div class="inner">
							
							<h3 class="font-light color-inverse">Мы&nbsp;создаем сайты быстро.</h3>
							<hr class="line line-sm line-bolder color-inverse distance-sm	">
							<p class="color-inverse">Разработка сайта с индивидуальным дизайном, продуманной структурой и хорошим функционалом у многих студий занимает в 2 раза больше времени.</p>
							<p class="color-inverse">Мы успеваем создавать сайты всего за 20 рабочих дней, благодаря слаженной работе нашего коллектива. У нас работают первоклассные специалисты, которые хорошо знают свою работу и постоянно повышают профессиональный уровень. А для наших клиентов быстрый запуск проекта часто означает и быстрое получение прибыли.</p>

						</div>
					</div>
					<div class="content-tree__section" style="background-image: url(../media/feature-6.jpg);">
						<div class="inner">
							
							<h3 class="font-light color-inverse">Вас приятно удивят наши цены.</h3>
							<hr class="line line-sm line-bolder color-inverse distance-sm	">
							<p class="color-inverse">Для сайтов с высоким уровнем дизайна и функциональными возможностями, у наших сайтов очень невысокая стоимость. Это возможно благодаря тому, что мы не арендуем офис со всеми вытекающими расходами, а все наши специалисты работают удалённо.</p>
							<p class="color-inverse">У нас работают широкопрофильные специалисты, которые могут выполнять задачи разного типа, а хорошо поставленные процессы работы в компании делают возможным быстро и эффективно управлять всем штатом сотрудников без дополнительных затрат для нас и наших клиентов.</p>

						</div>
					</div>
				</div>

			</section>

			<section class="section section--gradient">
				<div class="container">

					<div class="slider slider--steps slider--steps-wide">

						<div class="swiper-container">
							<div class="swiper-wrapper">
								<div class="swiper-slide">

									<h4 class="title">Обращение клиента</h4>
									<p>Встреча, обсуждение проекта, составление техзадания</p>

								</div>
								<div class="swiper-slide">

									<h4 class="title">Обращение клиента</h4>
									<p>Встреча, обсуждение проекта, составление техзадания</p>

								</div>
								<div class="swiper-slide">

									<h4 class="title">Обращение клиента</h4>
									<p>Встреча, обсуждение проекта, составление техзадания</p>

								</div>
								<div class="swiper-slide">

									<h4 class="title">Обращение клиента</h4>
									<p>Встреча, обсуждение проекта, составление техзадания</p>

								</div>
								<div class="swiper-slide">

									<h4 class="title">Обращение клиента</h4>
									<p>Встреча, обсуждение проекта, составление техзадания</p>

								</div>
							</div>
						</div>

						<div class="swiper-button-prev">
							<svg class="icon icon-arrow-2 color-inverse">
								<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
							</svg>
						</div>

						<div class="swiper-button-next">
							<svg class="icon icon-arrow-2 color-inverse">
								<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
							</svg>
						</div>

						<div class="swiper-progress color-inverse">
							<div class="swiper-pagination"></div>
							<div class="swiper-bar"></div>
						</div>

					</div>

				</div>
			</section>

			<section class="section">
				<div class="container">

					<div class="row">
						<div class="col-24 col-lg-12">
							
							<h5 class="heading-line">Переходим к&nbsp;действиям</h5>

						</div>
					</div>

					<div class="row align-items-center  mt-4 mt-lg-6">
						<div class="col-24 col-lg-12">
							
							<h1 class="color-intense text-5xl">Мы&nbsp;создадим сайт, который окупится многократно</h1>

						</div>
						<div class="col-24 col-lg-12  mt-5 mt-lg-0">
							
							<div class="row justify-content-between mb-5">
								<div class="col-24 col-md-auto">
									
									<a href="tel:+74993941696" class="text-xl text-bold letter-spacing-1">8 499 394-16-96</a>

								</div>
								<div class="col-24 col-md-auto  mt-2 mt-md-0">
									
									<a href="mailto:info@digi-trade.ru" class="text-xl text-bold letter-spacing-1">info@digi-trade.ru</a>

								</div>
							</div>

							<a href="" class="button button-block button-gradient button-xl">Запросить коммерческое предложение</a>

						</div>
					</div>

				</div>
			</section>

		</main>

{{> partials/footer}}
