{{> partials/header}}

		<main class="main" role="main">

			<div class="section section--xs gradient-1">
				<div class="container">

					<nav class="breadcrumbs">
						<ul>
							<li><a href="">Главная</a></li>
							<li><a href="">Портфолио</a></li>
						</ul>
					</nav>

					<h1>Портфолио самых<br> актуальных работ</h1>

				</div>
			</div>

			<article class="portfolio-item section gradient-2">

				<img src="../media/portfolio-item-1.png" alt="" class="portfolio-item__image">
				
				<div class="container">
					
					<div class="row">
						<div class="col-sm-14 col-md-18 col-lg-18 col-xl-12">
							
							<h1 class="text-center text-md-left">LoveBrand</h1>

							<img src="../media/portfolio-item-1.png" alt="" class="portfolio-item__image-2">

							<p class="color-inverse  d-none d-md-block">Дизайн и&nbsp;frontend-разработка<br> корпоративного сайта с&nbsp;интернет-магазином<br> страховых продуктов</p>

							<div class="row gutter-xs  mt-5 mb-6">
								<div class="col-24 col-md-8  text-center text-md-left text-md-left">
									
									<span class="icon icon-times color-inverse">
										<span>x</span>4
									</span>
									
									<p class="text-sm color-inverse">
										<strong>Увеличение заявок</strong><br>
										с&nbsp;сайта в&nbsp;4&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-phone color-inverse">
										<use xlink:href="../images/icons-vector.svg#phone"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Рост целевых звонков</strong><br>
										с&nbsp;сайта в&nbsp;2&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-palm color-inverse">
										<use xlink:href="../images/icons-vector.svg#palm"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Cнижение цены клика</strong><br>
										Яндекс.Директа в&nbsp;2&nbsp;раза
									</p>
							
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-20">

									<a href="" class="button button-inverse button-block button-xl">ПОСМОТРЕТЬ ПРОЕКТ</a>

								</div>
							</div>
							
						</div>
					</div>

				</div>
			</article>

			<article class="portfolio-item section gradient-3">

				<img src="../media/portfolio-item-2.png" alt="" class="portfolio-item__image">
				
				<div class="container">
					
					<div class="row">
						<div class="col-sm-14 col-md-18 col-lg-18 col-xl-12">
							
							<h1 class="text-center text-md-left">Петра 1</h1>

							<img src="../media/portfolio-item-1.png" alt="" class="portfolio-item__image-2">

							<p class="color-inverse  d-none d-md-block">Дизайн и&nbsp;frontend-разработка<br> корпоративного сайта с&nbsp;интернет-магазином<br> страховых продуктов</p>

							<div class="row gutter-xs  mt-5 mb-6">
								<div class="col-24 col-md-8  text-center text-md-left text-md-left">
									
									<span class="icon icon-times color-inverse">
										<span>x</span>4
									</span>
									
									<p class="text-sm color-inverse">
										<strong>Увеличение заявок</strong><br>
										с&nbsp;сайта в&nbsp;4&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-phone color-inverse">
										<use xlink:href="../images/icons-vector.svg#phone"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Рост целевых звонков</strong><br>
										с&nbsp;сайта в&nbsp;2&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-palm color-inverse">
										<use xlink:href="../images/icons-vector.svg#palm"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Cнижение цены клика</strong><br>
										Яндекс.Директа в&nbsp;2&nbsp;раза
									</p>
							
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-20">

									<a href="" class="button button-inverse button-block button-xl">ПОСМОТРЕТЬ ПРОЕКТ</a>

								</div>
							</div>
							
						</div>
					</div>

				</div>
			</article>

			<article class="portfolio-item section gradient-4">

				<img src="../media/portfolio-item-3.png" alt="" class="portfolio-item__image">
				
				<div class="container">
					
					<div class="row">
						<div class="col-sm-14 col-md-18 col-lg-18 col-xl-12">
							
							<h1 class="text-center text-md-left">ProfArea</h1>

							<img src="../media/portfolio-item-1.png" alt="" class="portfolio-item__image-2">

							<p class="color-inverse  d-none d-md-block">Дизайн и&nbsp;frontend-разработка<br> корпоративного сайта с&nbsp;интернет-магазином<br> страховых продуктов</p>

							<div class="row gutter-xs  mt-5 mb-6">
								<div class="col-24 col-md-8  text-center text-md-left text-md-left">
									
									<span class="icon icon-times color-inverse">
										<span>x</span>4
									</span>
									
									<p class="text-sm color-inverse">
										<strong>Увеличение заявок</strong><br>
										с&nbsp;сайта в&nbsp;4&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-phone color-inverse">
										<use xlink:href="../images/icons-vector.svg#phone"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Рост целевых звонков</strong><br>
										с&nbsp;сайта в&nbsp;2&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-palm color-inverse">
										<use xlink:href="../images/icons-vector.svg#palm"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Cнижение цены клика</strong><br>
										Яндекс.Директа в&nbsp;2&nbsp;раза
									</p>
							
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-20">

									<a href="" class="button button-inverse button-block button-xl">ПОСМОТРЕТЬ ПРОЕКТ</a>

								</div>
							</div>
							
						</div>
					</div>

				</div>
			</article>

			<article class="portfolio-item section gradient-5">

				<img src="../media/portfolio-item-4.png" alt="" class="portfolio-item__image">
				
				<div class="container">
					
					<div class="row">
						<div class="col-sm-14 col-md-18 col-lg-18 col-xl-12">
							
							<h1 class="text-center text-md-left">Восьмерочка</h1>

							<img src="../media/portfolio-item-1.png" alt="" class="portfolio-item__image-2">

							<p class="color-inverse  d-none d-md-block">Дизайн и&nbsp;frontend-разработка<br> корпоративного сайта с&nbsp;интернет-магазином<br> страховых продуктов</p>

							<div class="row gutter-xs  mt-5 mb-6">
								<div class="col-24 col-md-8  text-center text-md-left text-md-left">
									
									<span class="icon icon-times color-inverse">
										<span>x</span>4
									</span>
									
									<p class="text-sm color-inverse">
										<strong>Увеличение заявок</strong><br>
										с&nbsp;сайта в&nbsp;4&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-phone color-inverse">
										<use xlink:href="../images/icons-vector.svg#phone"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Рост целевых звонков</strong><br>
										с&nbsp;сайта в&nbsp;2&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-palm color-inverse">
										<use xlink:href="../images/icons-vector.svg#palm"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Cнижение цены клика</strong><br>
										Яндекс.Директа в&nbsp;2&nbsp;раза
									</p>
							
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-20">

									<a href="" class="button button-inverse button-block button-xl">ПОСМОТРЕТЬ ПРОЕКТ</a>

								</div>
							</div>
							
						</div>
					</div>

				</div>
			</article>

			<article class="portfolio-item section gradient-6">

				<img src="../media/portfolio-item-5.png" alt="" class="portfolio-item__image">
				
				<div class="container">
					
					<div class="row">
						<div class="col-sm-14 col-md-18 col-lg-18 col-xl-12">
							
							<h1 class="text-center text-md-left">RainBow</h1>

							<img src="../media/portfolio-item-1.png" alt="" class="portfolio-item__image-2">

							<p class="color-inverse  d-none d-md-block">Дизайн и&nbsp;frontend-разработка<br> корпоративного сайта с&nbsp;интернет-магазином<br> страховых продуктов</p>

							<div class="row gutter-xs  mt-5 mb-6">
								<div class="col-24 col-md-8  text-center text-md-left text-md-left">
									
									<span class="icon icon-times color-inverse">
										<span>x</span>4
									</span>
									
									<p class="text-sm color-inverse">
										<strong>Увеличение заявок</strong><br>
										с&nbsp;сайта в&nbsp;4&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-phone color-inverse">
										<use xlink:href="../images/icons-vector.svg#phone"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Рост целевых звонков</strong><br>
										с&nbsp;сайта в&nbsp;2&nbsp;раза
									</p>
							
								</div>
								<div class="col-24 col-md-8  mt-5 mt-md-0  text-center text-md-left">
									
									<svg class="icon icon-palm color-inverse">
										<use xlink:href="../images/icons-vector.svg#palm"></use>
									</svg>

									<p class="text-sm color-inverse">
										<strong>Cнижение цены клика</strong><br>
										Яндекс.Директа в&nbsp;2&nbsp;раза
									</p>
							
								</div>
							</div>
							
							<div class="row">
								<div class="col-lg-20">

									<a href="" class="button button-inverse button-block button-xl">ПОСМОТРЕТЬ ПРОЕКТ</a>

								</div>
							</div>
							
						</div>
					</div>

				</div>
			</article>
			
		</main>

{{> partials/footer-blue}}
