{{> partials/header}}

		<main class="main" role="main">

			<div class="section section--xs gradient-1">
				<div class="container">

					<nav class="breadcrumbs">
						<ul>
							<li><a href="">Главная</a></li>
							<li><a href="">Портфолио</a></li>
							<li>LoveBrand</li>
						</ul>
					</nav>

					<div class="row">
						<div class="col-lg-18 col-xl-14">

							<h1>LoveBrand</h1>

							<div class="row distance-lg  d-none d-md-block">
								<div class="col-md-12 col-lg-15 col-xl-14">
									
									<p class="color-inverse">Дизайн и&nbsp;frontend-разработка корпоративного сайта с&nbsp;интернет-магазином страховых продуктов</p>

								</div>
							</div>
					
							<div class="grid">
								<div class="row align-items-end">
									<div class="col-24 col-md-8">
										
										<div class="icon icon-times color-inverse"><span>x</span>4</div>
										<p class="color-inverse"><span class="text-bold">Увеличение заявок</span><br>
											с&nbsp;сайта в&nbsp;4&nbsp;раза</p>
								
									</div>
									<div class="col-24 col-md-8">
										
										<svg class="icon icon-phone color-inverse">
											<use xlink:href="../images/icons-vector.svg#phone"></use>
										</svg>
										<p class="color-inverse"><span class="text-bold">Рост целевых звонков</span><br>
											с&nbsp;сайта в&nbsp;2&nbsp;раза</p>
								
									</div>
									<div class="col-24 col-md-8">
										
										<svg class="icon icon-palm color-inverse">
											<use xlink:href="../images/icons-vector.svg#palm"></use>
										</svg>
										<p class="color-inverse"><span class="text-bold">Cнижение цены клика</span><br>
											Яндекс.Директа в&nbsp;2&nbsp;раза</p>
								
									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="frame frame--laptop frame--laptop-hero">
						<div class="frame__device">
							<div class="frame__screen">
								<img src="../media/lovebrand-hero.jpg" alt="">
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="section section--sm">
				<div class="container">

					<div class="row justify-content-between">
						<div class="col-24 col-md-16 col-lg-16 col-xl-16">
							
							<h4 class="font-normal">Главная страница</h4>

							<div class="frame frame-browser">
								<div class="frame-browser__header">
									<div class="frame-browser__url">
										<svg class="icon icon-refresh">
											<use xlink:href="../images/icons-vector.svg#refresh"></use>
										</svg>
										http://www.lovebrand.com
									</div>

									<svg class="icon icon-browser-menu">
										<use xlink:href="../images/icons-vector.svg#browser-menu"></use>
									</svg>
								</div>

								<img src="../media/lovebrand-7.jpg" alt="">
							</div>

						</div>
						<div class="col-24 col-md-7 col-lg-7 col-xl-7  mt-7 mt-md-0">
							
							<div class="text-xl" style="color: #c8369c">lovebrand.com</div>

							<div class="frame frame-browser frame-browser--mobile">
								<div class="frame-browser__header">
									<div class="frame-browser__url">
										<svg class="icon icon-refresh">
											<use xlink:href="../images/icons-vector.svg#refresh"></use>
										</svg>
										http://www.lovebrand.com
									</div>
								</div>

								<img src="../media/lovebrand-8.jpg" alt="">
							</div>

						</div>
					</div>

				</div>
			</div>

			<hr class="line color-minor distance-xs">

			<div class="section section--xs">
				<div class="container">

					<div class="row align-items-center">
						<div class="col-md-12  mb-3 mb-md-6">
							
							<h5 class="font-normal">Проблемы работ</h5>
							<hr class="line distance-t-xxs distance-b-sm">
							<p class="color-intense">Корпоративный сайт&nbsp;&mdash; это эффективный рекламный инструмент по&nbsp;привлечению новых клиентов, а&nbsp;не&nbsp;только визитная карточка компании и&nbsp;одна из&nbsp;основных составляющих имиджа. Поэтому рано или поздно вопросом создания корпоративного сайта задаётся</p>

						</div>
						<div class="col-md-12">
							
							<div class="circle-diagram color-danger  mx-auto">
								<div class="circle-diagram__value">86%</div>
								<div class="circle-diagram__point" style="transform: rotate(309.6deg);"></div>
							</div>

							<p class="text-center text-xl color-intense">Процент проблем</p>
							
						</div>
					</div>
					
				</div>
			</div>

			<div class="section gradient-1">
				<div class="container">
						
					<div class="row align-items-center">
						<div class="col-md-12  mb-3 mb-md-6">
							
							<h5 class="font-normal color-inverse">Результат работы</h5>
							<hr class="line distance-t-xxs distance-b-sm color-inverse">
							<p class=" color-inverse">Корпоративный сайт&nbsp;&mdash; это эффективный рекламный инструмент по&nbsp;привлечению новых клиентов, а&nbsp;не&nbsp;только визитная карточка компании и&nbsp;одна из&nbsp;основных составляющих имиджа. Поэтому рано или поздно вопросом создания корпоративного сайта задаётся</p>

						</div>
						<div class="col-md-12">

							<div class="circle-diagram color-inverse  mx-auto">
								<div class="circle-diagram__value">2%</div>
								<div class="circle-diagram__point" style="transform: rotate(7.2deg);"></div>
							</div>

							<p class="text-center text-xl color-inverse">спустя 2&nbsp;месяца нашей работы</p>
							
						</div>
					</div>
					
				</div>
			</div>

			<section class="section bg-intense">
				<div class="container">
					
					<svg class="icon icon-quote section__quote">
						<use xlink:href="../images/icons-vector.svg#quote"></use>
					</svg>

					<h2 class="color-inverse">Отзыв о нашей работе</h2>

					<div class="row align-items-center justify-content-between">
						<div class="col-24 col-lg-9">
							
							<div class="person">
								<div class="row gutter-sm align-items-md-center">
									<div class="col-auto">
								
										<img src="../media/contacts-page-photo.png" alt="" class="avatar">
								
									</div>
									<div class="col">
								
										<div class="person__name color-inverse">Алексей Соловьев</div>
										<div class="person__title color-inverse">Управляющий директор</div>
								
									</div>
								</div>
							</div>
							
							<div class="font-bold text-xxxl line-height-md color-inverse  mt-4 mt-md-7">Все сделали оперативно качественно.</div>

						</div>
						<div class="col-24 col-md-18 col-lg-11  mt-4 mt-lg-0">
							
							<div class="color-inverse">
								<p class="distance-sm line-height-lg">За&nbsp;время сотрудничества со&nbsp;студией создания сайтов visualweb команда разработчиков показала свою способность с&nbsp;полной ответственностью подходить к&nbsp;поставленным задачам, выполнять задачи качественно и&nbsp;в&nbsp;срок.</p>

								<p class="distance-sm line-height-lg">Отличительной чертой работы является высокий профессионализм, коммуникабельность и&nbsp;заинтересованность в&nbsp;выполняемой работе. Рекомендуем студию как надежного и&nbsp;стабильного партнёра.</p>
								
								<p class="text-upper distance-lg letter-spacing-1">САЙТ: <a href="http://profarea.ru" target="_blank" class="color-inverse">proarea.ru</a></p>
							</div>
							
						</div>
					</div>

				</div>
			</section>

			<div class="section section--bgs gallery-collage" style="background-image: url(../media/lovebrand-5.jpg)"></div>

			<div class="section gradient-1 pb-0">
				<div class="container">

					<h2 class="text-center color-inverse">Адаптивность</h2>

					<div class="row justify-content-center mt-7">
						<div class="col-8 col-md-6 col-lg-5 col-xl-4">
							
							<div class="text-center">
								<h6 class="font-bold color-inverse">320&nbsp;px</h6>
								<svg class="icon icon-adaptive-phone color-inverse">
									<use xlink:href="../images/icons-vector.svg#adaptive-phone"></use>
								</svg>
							</div>

						</div>
						<div class="col-8 col-md-6 col-lg-5 col-xl-4">
							
							<div class="text-center">
								<h6 class="font-bold color-inverse">1280&nbsp;px</h6>
								<svg class="icon icon-adaptive-desktop color-inverse">
									<use xlink:href="../images/icons-vector.svg#adaptive-desktop"></use>
								</svg>
							</div>

						</div>
						<div class="col-8 col-md-6 col-lg-5 col-xl-4">
							
							<div class="text-center">
								<h6 class="font-bold color-inverse">760&nbsp;px</h6>
								<svg class="icon icon-adaptive-tablet color-inverse">
									<use xlink:href="../images/icons-vector.svg#adaptive-tablet"></use>
								</svg>
							</div>

						</div>
					</div>
					
					<div class="pt-7 mt-7">
						<h4 class="text-center color-inverse">
							БОЛЕЕ
							<div class="text-10xl">70</div>
							макетов для разных разрешений
						</h4>
					</div>

				</div>

				<div class="gallery-collage-perspective" style="background-image: url(../media/lovebrand-6.png)"></div>

			</div>

			<div class="section section--xs bg-4  distance-xl">
				<div class="container">
					
					<div class="row justify-content-between align-items-center">
						<div class="col col-md-8 col-lg-7  d-none d-md-block">

							<a href="" class="page-link page-link--prev">
								<span class="page-link__title"><span>Digi-Trade&nbsp;&mdash; спонсор соревнований</span></span>
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
							</a>

						</div>
						<div class="col-24 col-md-7 col-lg-6 col-xl-5">
							
							<div class="sharing">
								<div class="sharing__title">ПОДЕЛИТЬСЯ КЕЙСОМ</div>

								<div class="ya-share2" data-services="vkontakte,facebook,gplus,whatsapp" data-bar></div>
							</div>

						</div>
						<div class="col-24 col-md-8 col-lg-7  mt-5 mt-md-0">

							<a href="" class="page-link page-link--next">
								<span class="page-link__title"><span>Новая эра&nbsp;&mdash; в&nbsp;эпоху веб технологий</span></span>
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
							</a>

						</div>
					</div>

				</div>
			</div>

			<section class="section section--bgs">
				<div class="section__bgs" style="background-image: url(../media/bg-1.jpg);"></div>
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-24 col-lg-18 col-xl-12">
					
							<h2 class="color-inverse text-center">Хотите увеличить 
							прибыль своего проекта?</h2>
								
							<form action="" class="color-inverse">
					
								<div class="grid">
									<div class="row gutter-lg">
										<div class="col-md-12">
						
											<div class="form-field">
												<label for="" class="form-label">Имя *</label>
						
												<div class="form-input-wrap">
						
													<input type="text" 
														class="form-input form-input--validation" 
														name="" 
														id="" 
														value="" 
														data-validation="letternumeric length"
														data-validation-allowing="-_ " 
														data-validation-length="min2">
													
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-12">
						
											<div class="form-field">
												<label for="" class="form-label">Контакт для связи *</label>
						
												<div class="form-input-wrap">
						
													<input type="text" 
														class="form-input form-input--validation" 
														name="" 
														id="" 
														value="" 
														data-validation="letternumeric length"
														data-validation-allowing="-_ " 
														data-validation-length="min2">
						
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-24">
						
											<div class="form-field">
												<label for="" class="form-label">Комментарии *</label>
						
												<div class="form-input-wrap">
						
													<textarea 
														class="form-input form-input--validation textarea-autosize" 
														name="" 
														id="" 
														value=""
														rows="1"
														data-validation="length" 
														data-validation-length="min4"></textarea>
						
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-24">
						
											<div class="form-field">
						
												<label class="input-file">
													<input type="file" name="" id="">
													<span class="icon icon-clip"></span>
													<div class="input-file__title">Прикрепить файл</div>
												</label>
						
											</div>
						
										</div>
										<div class="col-md-24">
											
											<button class="button button-block button-xl button-inverse">ОТПРАВИТЬ ЗАПРОС НА УВЕЛИЧЕНИЕ ПРИБЫЛИ</button>
											
										</div>
									</div>
									
								</div>

							</form>
							
						</div>
					</div>

				</div>
			</section>


		</main>

{{> partials/footer}}
