{{> partials/header}}

		<main class="main" role="main">
			
			<div class="section section--xs gradient-1">
				<div class="container">

					<nav class="breadcrumbs">
						<ul>
							<li><a href="">Главная</a></li>
							<li>Услуги и&nbsp;цены</li>
						</ul>
					</nav>

					<h1>Услуги и&nbsp;цены</h1>

				</div>
			</div>
				
			<div class="container">
				
				<article class="service-item">
					<a href="" class="service-item__link">
						<div class="row gutter-xl justify-content-between">
							<div class="col-24 col-md-15 col-lg-14">
						
								<h2>Создание сайта организации</h2>
								
								<p>Корпоративные сайты сегодня делают многие. Действительно хорошие сайты создают единицы. Мы&nbsp;не&nbsp;штампуем &laquo;поделки&raquo;. Мы&nbsp;создаем уникальные и&nbsp;сверхэффективные инструменты, ориентированные на&nbsp;решение любых бизнес-задач.</p>
						
							</div>
							<div class="col-24 col-md-9 service-item__button">
								
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
								
								<div class="text-xxxl color-intense no-wrap">
									<span class="text-lg">от</span>  
									<span class="text-bold">120 000</span>  
									<span class="text-lg">руб</span>
								</div>
						
							</div>
						</div>
					</a>
				</article>
				
				<article class="service-item">
					<a href="" class="service-item__link">
						<div class="row gutter-xl justify-content-between">
							<div class="col-24 col-md-15 col-lg-14">
						
								<h2>Интернет-магазин или каталог продукции</h2>
								
								<p>Создание сайтов&nbsp;&mdash; трудная задача, а&nbsp;разработка полноценного и&nbsp;удобного интернет магазина еще труднее, тут мы&nbsp;к&nbsp;вашим услугам! У&nbsp;нас есть опыт разработки интернет магазинов, есть своя CMS для полноценной работы и&nbsp;быстрого продвижения такого сайта в&nbsp;интернете.</p>
						
							</div>
							<div class="col-24 col-md-9 service-item__button">
								
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
								
								<div class="text-xxxl color-intense no-wrap">
									<span class="text-lg">от</span>  
									<span class="text-bold">175 000</span>  
									<span class="text-lg">руб</span>
								</div>
						
							</div>
						</div>
					</a>
				</article>
				
				<article class="service-item">
					<a href="" class="service-item__link">
						<div class="row gutter-xl justify-content-between">
							<div class="col-24 col-md-15 col-lg-14">
						
								<h2>Создание промо-сайтов и&nbsp;лендингов</h2>
								
								<p>Продающие страницы с&nbsp;конверсией до&nbsp;40%. Быстрый запуск продаж&nbsp;&mdash; от&nbsp;2&nbsp;недель. Гарантированная конверсия и&nbsp;результат.</p>
						
							</div>
							<div class="col-24 col-md-9 service-item__button">
								
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
								
								<div class="text-xxxl color-intense no-wrap">
									<span class="text-lg">от</span>  
									<span class="text-bold">85 000</span>  
									<span class="text-lg">руб</span>
								</div>
						
							</div>
						</div>
					</a>
				</article>
				
				<article class="service-item">
					<a href="" class="service-item__link">
						<div class="row gutter-xl justify-content-between">
							<div class="col-24 col-md-15 col-lg-14">
						
								<h2>Дизайн и&nbsp;редизайн сайта</h2>
								
								<p>Что не&nbsp;говори, а&nbsp;встречают по&nbsp;одежке и&nbsp;от&nbsp;правильного дизайна зависит понравится&nbsp;ли ваш продукт и&nbsp;услуга вашим клиентам. Качественный, привлекательный дизайн поможет увеличить продажи и&nbsp;сделать бизнес успешным. А&nbsp;иногда не&nbsp;так просто понять, что те&nbsp;так</p>
						
							</div>
							<div class="col-24 col-md-9 service-item__button">
								
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
								
								<div class="text-xxxl color-intense no-wrap">
									<span class="text-lg">от</span>  
									<span class="text-bold">40 000</span>  
									<span class="text-lg">руб</span>
								</div>
						
							</div>
						</div>
					</a>
				</article>
				
				<article class="service-item">
					<a href="" class="service-item__link">
						<div class="row gutter-xl justify-content-between">
							<div class="col-24 col-md-15 col-lg-14">
						
								<h2>Проектирование сайта (прототип)</h2>
								
								<p>Даже на&nbsp;этапе первоначальной работы с&nbsp;проектом мы&nbsp;сразу делаем все основательно и&nbsp;качественно. Продумывание функционала, проектирование и&nbsp;прототипы. Рутина. Но&nbsp;рутина нужная, интересная и&nbsp;очень важная.</p>
						
							</div>
							<div class="col-24 col-md-9 service-item__button">
								
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
								
								<div class="text-xxxl color-intense no-wrap">
									<span class="text-lg">от</span>  
									<span class="text-bold">30 000</span>  
									<span class="text-lg">руб</span>
								</div>
						
							</div>
						</div>
					</a>
				</article>
				
				<article class="service-item">
					<a href="" class="service-item__link">
						<div class="row gutter-xl justify-content-between">
							<div class="col-24 col-md-15 col-lg-14">
						
								<h2>Анализ и&nbsp;аудит сайта. Повышение интернет-продаж</h2>
								
								<p>Как узнать, почему сайт не&nbsp;приносит прибыль? На&nbsp;каком этапе теряется 20-30% клиентов и&nbsp;как их&nbsp;удержать? Почему поисковики не&nbsp;пускают ваш сайт в&nbsp;топ? Все эти проблемы мы&nbsp;разберем и&nbsp;дадим вам подробные рекомендации, как их&nbsp;исправить.</p>
						
							</div>
							<div class="col-24 col-md-9 service-item__button">
								
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
								
								<div class="text-xxxl color-intense no-wrap">
									<span class="text-lg">от</span>  
									<span class="text-bold">50 000</span>  
									<span class="text-lg">руб</span>
								</div>
						
							</div>
						</div>
					</a>
				</article>
				
				<article class="service-item">
					<a href="" class="service-item__link">
						<div class="row gutter-xl justify-content-between">
							<div class="col-24 col-md-15 col-lg-14">
						
								<h2>Контекстная реклама. Настройка объявлений в&nbsp;Яндекс.Директ и&nbsp;Google Adwords</h2>
								
								<p>Поисковые запросы пользователей правят интернетом. Мы&nbsp;правим поисковыми запросами и&nbsp;умеем направлять людей именно на&nbsp;ваш сайт с&nbsp;помощью контекстной рекламы. Яндекс.Директ, Google Adwords, &mdash;&nbsp;гарантированно эффективные рекламные кампании с&nbsp;мгновенной отдачей. Оплата только за&nbsp;результат!</p>
						
							</div>
							<div class="col-24 col-md-9 service-item__button">
								
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
								
								<div class="text-xxxl color-intense no-wrap">
									<span class="text-lg">от</span>  
									<span class="text-bold">25 000</span>  
									<span class="text-lg">руб</span>
								</div>
						
							</div>
						</div>
					</a>
				</article>
				
				<article class="service-item">
					<a href="" class="service-item__link">
						<div class="row gutter-xl justify-content-between">
							<div class="col-24 col-md-15 col-lg-14">
						
								<h2>Поддержка и&nbsp;обслуживание сайта</h2>
								
								<p>Качественный сайт&nbsp;&mdash; это чудесно и&nbsp;достойно восхищения. Качественный сайт без постоянной поддержки и&nbsp;наполнения&nbsp;&mdash; горько, обидно и&nbsp;бьет по&nbsp;имиджу. Доверьте нам ваш ресурс, мы&nbsp;обеспечим информационную, техническую и&nbsp;контентную поддержку, тогда он&nbsp;станет надежной опорой вам и&nbsp;вашему бизнесу.</p>
						
							</div>
							<div class="col-24 col-md-9 service-item__button">
								
								<svg class="icon icon-arrow-2">
									<use xlink:href="../images/icons-vector.svg#arrow-2"></use>
								</svg>
								
								<div class="text-xxxl color-intense no-wrap">
									<span class="text-lg">от</span>  
									<span class="text-bold">10 000</span>  
									<span class="text-lg">руб/месяц</span>
								</div>
						
							</div>
						</div>
					</a>
				</article>

			</div>

			<section class="section section--xs mb-3">
				<div class="container">
					
					<h6>Стоп, стоп, стоп - это еще не все</h6>

					<hr class="line line-md  distance-t-xs distance-b-md">
					
					<div class="distance-md">
						
						<div class="grid  d-none d-md-block">
							<div class="row">
								<div class="col-md-12 col-lg-8">
									
									<article class="additional-service">
										<div class="additional-service__bg" style="background-image: url(../media/additional-service-1.jpg);"></div>
										<a href=""><h5>Баннеры и&nbsp;дизайн рассылок</h5></a>
									</article>
							
								</div>
								<div class="col-md-12 col-lg-8">
									
									<article class="additional-service">
										<div class="additional-service__bg" style="background-image: url(../media/additional-service-2.jpg);"></div>
										<a href=""><h5>Фотосъемка офиса компании или каталога продукции</h5></a>
									</article>
							
								</div>
								<div class="col-md-12 col-lg-8">
									
									<article class="additional-service">
										<div class="additional-service__bg" style="background-image: url(../media/additional-service-3.jpg);"></div>
										<a href=""><h5>Реклама в&nbsp;интернете: размещение статей и&nbsp;баннеров, управление репутацией и&nbsp;скрытая реклама</h5></a>
									</article>
							
								</div>
								<div class="col-md-12 col-lg-8">
									
									<article class="additional-service">
										<div class="additional-service__bg" style="background-image: url(../media/additional-service-4.jpg);"></div>
										<a href=""><h5>Пишем продающие тексты (копирайтинг/рерайтинг)</h5></a>
									</article>
							
								</div>
								<div class="col-md-12 col-lg-8">
									
									<article class="additional-service">
										<div class="additional-service__bg" style="background-image: url(../media/additional-service-5.jpg);"></div>
										<a href=""><h5>Видео-презентация компаний</h5></a>
									</article>
							
								</div>
								<div class="col-md-12 col-lg-8">
									
									<article class="additional-service">
										<div class="additional-service__bg" style="background-image: url(../media/additional-service-6.jpg);"></div>
										<a href=""><h5>Мобильная версия сайта</h5></a>
									</article>
							
								</div>
							</div>
						</div>

						<div class="slider slider--scroll  d-md-none">

							<div class="swiper-container">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
												
										<article class="additional-service">
											<div class="additional-service__bg" style="background-image: url(../media/additional-service-1.jpg);"></div>
											<a href=""><h5>Баннеры и&nbsp;дизайн рассылок</h5></a>
										</article>
								
									</div>
									<div class="swiper-slide">
												
										<article class="additional-service">
											<div class="additional-service__bg" style="background-image: url(../media/additional-service-2.jpg);"></div>
											<a href=""><h5>Фотосъемка офиса компании или каталога продукции</h5></a>
										</article>
								
									</div>
									<div class="swiper-slide">
												
										<article class="additional-service">
											<div class="additional-service__bg" style="background-image: url(../media/additional-service-3.jpg);"></div>
											<a href=""><h5>Реклама в&nbsp;интернете: размещение статей и&nbsp;баннеров, управление репутацией и&nbsp;скрытая реклама</h5></a>
										</article>
								
									</div>
									<div class="swiper-slide">
												
										<article class="additional-service">
											<div class="additional-service__bg" style="background-image: url(../media/additional-service-4.jpg);"></div>
											<a href=""><h5>Пишем продающие тексты (копирайтинг/рерайтинг)</h5></a>
										</article>
								
									</div>
									<div class="swiper-slide">
												
										<article class="additional-service">
											<div class="additional-service__bg" style="background-image: url(../media/additional-service-5.jpg);"></div>
											<a href=""><h5>Видео-презентация компаний</h5></a>
										</article>
								
									</div>
									<div class="swiper-slide">
												
										<article class="additional-service">
											<div class="additional-service__bg" style="background-image: url(../media/additional-service-6.jpg);"></div>
											<a href=""><h5>Мобильная версия сайта</h5></a>
										</article>
								
									</div>
								</div>
							</div>
							
							<div class="swiper-scrollbar"></div>

						</div>
						
					</div>

				</div>
			</section>

			<section class="section section--bgs">
				<div class="section__bgs" style="background-image: url(../media/bg-1.jpg);"></div>
				<div class="container">
					
					<div class="row justify-content-center">
						<div class="col-24 col-lg-18 col-xl-12">
					
							<h2 class="color-inverse text-center">Хотите увеличить 
							прибыль своего проекта?</h2>
								
							<form action="" class="color-inverse">
					
								<div class="grid">
									<div class="row gutter-lg">
										<div class="col-md-12">
						
											<div class="form-field">
												<label for="" class="form-label">Имя *</label>
						
												<div class="form-input-wrap">
						
													<input type="text" 
														class="form-input form-input--validation" 
														name="" 
														id="" 
														value="" 
														data-validation="letternumeric length"
														data-validation-allowing="-_ " 
														data-validation-length="min2">
													
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-12">
						
											<div class="form-field">
												<label for="" class="form-label">Контакт для связи *</label>
						
												<div class="form-input-wrap">
						
													<input type="text" 
														class="form-input form-input--validation" 
														name="" 
														id="" 
														value="" 
														data-validation="letternumeric length"
														data-validation-allowing="-_ " 
														data-validation-length="min2">
						
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-24">
						
											<div class="form-field">
												<label for="" class="form-label">Комментарии *</label>
						
												<div class="form-input-wrap">
						
													<textarea 
														class="form-input form-input--validation textarea-autosize" 
														name="" 
														id="" 
														value=""
														rows="1"
														data-validation="length" 
														data-validation-length="min4"></textarea>
						
													<svg class="icon icon-checked form-input__icon"><use xlink:href="../images/icons-vector.svg#checked"></use></svg>
						
												</div>
											</div>
						
										</div>
										<div class="col-md-24">
						
											<div class="form-field">
						
												<label class="input-file">
													<input type="file" name="" id="">
													<span class="icon icon-clip"></span>
													<div class="input-file__title">Прикрепить файл</div>
												</label>
						
											</div>
						
										</div>
										<div class="col-md-24">
											
											<button class="button button-block button-xl button-inverse">ОТПРАВИТЬ ЗАПРОС НА УВЕЛИЧЕНИЕ ПРИБЫЛИ</button>
											
										</div>
									</div>
									
								</div>

							</form>
							
						</div>
					</div>

				</div>
			</section>

		</main>

{{> partials/footer-blue}}
